<div class="row">
  <ol class="breadcrumbNav col-12" >
    <li (click)="querySectionFun()"><a>还款计划修改</a><i>></i></li>
    <li class="active">查看贷款业务</li>
  </ol>
</div>

<div class="row">
  <div class="col-12">
    <hr class="breadcrumbNavLine">
  </div>
</div>

<app-professional-serial [professionalData]="professionalData"></app-professional-serial>

<div class="row">
  <div class="filed-name col-2">城市：</div>
  <div class="filed-text col-2">{{loanBusinessData.cityName}}</div>
  <div class="filed-name col-2">渠道：</div>
  <div class="filed-text col-2">{{loanBusinessData.distributorName}}</div>
  <div class="filed-name col-2">业务经理：</div>
  <div class="filed-text col-2">{{loanBusinessData.agentName}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">主借款人：</div>
  <div class="filed-text col-2">{{loanBusinessData.customerName}}</div>
  <div class="filed-name col-2">产品名称：</div>
  <div class="filed-text col-2">{{loanBusinessData.productName}}</div>
  <div class="filed-name col-2">放款方式：</div>
  <div class="filed-text col-2">{{loanBusinessData.lendingMethodsName}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">资方：</div>
  <div class="filed-text col-2">{{loanBusinessData.fundSideName}}</div>
  <div class="filed-name col-2">担保公司：</div>
  <div class="filed-text col-2">{{loanBusinessData.guaranteeCorporationName}}</div>
  <div class="filed-name col-2">保险公司：</div>
  <div class="filed-text col-2">{{loanBusinessData.insuranceCompanyName}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">授信金额：</div>
  <div class="filed-text col-2">{{loanBusinessData.totalQuota|lastNoneZero |keepTwoDecimal|permil}}元</div>
  <div class="filed-name col-2">已借金额：</div>
  <div class="filed-text col-2">{{loanBusinessData.principal|lastNoneZero |keepTwoDecimal|permil}}元</div>
  <div class="filed-name col-2">应还总额：</div>
  <div class="filed-text col-2">{{loanBusinessData.repaymentAmount|lastNoneZero |keepTwoDecimal|permil}}元</div>
</div>

<div class="row">
  <div class="filed-name col-2">授信日期：</div>
  <div class="filed-text col-2">{{loanBusinessData.creditStartDate| date:"yyyy-MM-dd"}}</div>
  <div class="filed-name col-2">授信到期日：</div>
  <div class="filed-text col-2">{{loanBusinessData.creditEndDate| date:"yyyy-MM-dd"}}</div>
  <div class="filed-name col-2">授信期限：</div>
  <div class="filed-text col-2">{{loanBusinessData.creditPeriod?loanBusinessData.creditPeriod+'个月':''}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">授信天数：</div>
  <div class="filed-text col-2">{{loanBusinessData.creditDays}}天</div>
  <div class="filed-name col-2">年化利率：</div>
  <div class="filed-text col-2">{{loanBusinessData.annualizedInterest*100|keepTwoDecimal|permil}}%</div>
  <div class="filed-name col-2">状态：</div>
  <div class="filed-text col-2">{{loanBusinessData.loanStatusName}}</div>
</div>


<div class="row">
  <div class="col-2 filed-name">抵押物：</div>
  <div *ngFor="let item of loanBusinessData.houseList let i=index">
    <div class="col-2 filed-name" *ngIf="i>0"></div>
    <div class="col-10 filed-text">{{item.houseAddress}}</div>
  </div>
</div>

<div class="row">
  <div class="filed-name col-2">放款记录：</div>
  <div class="col-2 filed-text" *ngIf="false">无</div>
  <div class="col-4 white-space-nowrap">
    <select name="" id="recordLending" class="width-100per selectmsg" [(ngModel)]="recordValue">
      <option value=""></option>
    </select>
  </div>
</div>


<!--利息代收代付时-->
<!---->
<app-interest-agent (event)="getData($event)"  (event2)="getData2($event)" [reCordFlag]="reCordFlag "
                    [repaymentSchedule]="repaymentSchedule" [paidCode]="paidCode"
                    *ngIf="loanBusinessData.isInterestInstead=='1'" ></app-interest-agent>
<!--利息不代收代付时-->
<app-interest-unagent
  (event)="getData($event)" [reCordFlag]="reCordFlag " [paidCode]="paidCode" (event2)="getData2($event)"
  [repaymentSchedule]="repaymentSchedule" *ngIf="loanBusinessData.isInterestInstead=='0'"></app-interest-unagent>



<div class="row">
  <div class="table_footer col-12">
    <div class="table_ll" *ngIf="repaymentSchedule.repaymentList">
      共{{totalListsCount}}条，显示第{{startListIndex}}至{{endListIndex}}条
    </div>
    <div class="table_rr">
      <div class="tablePageCode"></div>
    </div>
  </div>
</div>



<div class="row margin-top-40" *ngIf="repaymentSchedule.repaymentList">
  <div class="col-12"><button class="orange-button float-left" (click)="getModify()" >提交修改</button>
  <button class="gray-button margin-left-20" (click)="goBack()" >返回还款计划修改</button></div>
</div>

<div class="row margin-top-40"  *ngIf="!repaymentSchedule.repaymentList">
  <div class="col-2">
    <button class="orange-button float-left" id="backToapplyQuery" (click)="querySection()">返回还款计划修改</button>
  </div>
</div>
