.tab-menu {
  padding-left: 1px;
  padding-right: 0;
}

.tab-menu .tab-menu-ul a, .tab-menu .tab-menu-ul li {
  background: #f5f5f5;
  font-weight: bold;
  width: 80px;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  margin-left: -1px;
}

.tab-menu .tab-menu-ul a {
  border: 1px solid #ccc
}

.tab-menu .tab-menu-ul li.current a {
  background: #fff;
  border-bottom: none;
  border-top: 2px solid #FFA00A;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
