<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.um.dao.UmRoleDao">

    <!--查询用户角色信息表-->
    <select id="queryRoleByUserAndSystem" resultType="com.vilio.um.pojo.UmRole" parameterType="java.util.HashMap">
        SELECT
            a.id,
            a.role_id as roleId,
            a.role_name as roleName,
            a.status as status,
            a.role_desc as roleDesc,
            a.system_id as systemId,
            DATE_FORMAT(a.create_time,'%Y%m%d%H%i%s') as createTime
        FROM
            um_role_info a,
            um_user_role b
        WHERE
            a.role_id = b.role_id
            and a.status = #{roleStatus}
            and b.status = #{userRoleStatus}
            and b.user_id = #{userId}
            and a.system_id = #{systemId}
    </select>

    <!--根据条件查询角色信息表-->
    <select id="queryRole" resultType="com.vilio.um.pojo.UmRole" parameterType="java.util.HashMap">
        SELECT
        a.id,
        a.role_id as roleId,
        a.role_name as roleName,
        a.status as status,
        a.role_desc as roleDesc,
        a.system_id as systemId,
        DATE_FORMAT(a.create_time,'%Y%m%d%H%i%s') as createTime
        FROM
        um_role_info a LEFT JOIN
        um_user_role b on a.role_id = b.role_id
        WHERE a.status!='2'
        <if test="userId!=null and userId!=''">
            and b.user_id = #{userId}
        </if>
        <if test="roleId!=null and roleId!=''">
            and a.role_id = #{roleId}
        </if>
        <if test="roleStatus!=null and roleStatus!=''">
            and a.status = #{roleStatus}
        </if>
        <if test="systemId!=null and systemId!=''">
            and a.system_id = #{systemId}
        </if>
    </select>






</mapper>