<!--放款记录-->

<div class="row">
  <div class="filed-name col-2">放款时间：</div>
  <div class="filed-text col-2">{{receiptsRecordList.paidTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
  <div class="filed-name col-2">放款金额：</div>
  <div class="filed-text col-2">{{receiptsRecordList.paidAmount |dealNullPipe|lastNoneZero |keepTwoDecimal|permil}}元</div>
  <div class="filed-name col-2">户名：</div>
  <div class="filed-text col-2">{{receiptsRecordList.name}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">账号：</div>
  <div class="filed-text col-10">{{receiptsRecordList.accountNo}}</div>
  <div class="filed-name col-2">开户行：</div>
  <div class="filed-text col-10">{{receiptsRecordList.bank}}</div>
</div>

<div class="row">
  <div class="filed-name col-2">备注：</div>
  <div class="filed-text col-10">{{receiptsRecordList.remark}}</div>
</div>

<div class="row margin-top-40">
  <div class="col-12" *ngIf="receiptsRecordList.fileList">
    <div class="img-list col-2" *ngFor="let item of receiptsRecordList.fileList let i=index">
      <a class="img-box" (click)="downloadFile(item)"><img style="width:160px;height:160px;" src={{selectFileList[i]}}></a>
      <p class="upload-file-name margin-top-10">{{item.fileName}}</p>

    </div>

  </div>
</div>
<div class="orange-button col-2" (click)="setDetailPageShow()" *ngIf="detailPageShow">返回</div>
