<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.plms.dao.MessageInfoDao">


    <!--插入推送信息表-->
    <insert id="insertMessageInfoBatch" parameterType="java.util.List">
        insert plms_message_info(code,um_id,message_title,message_ticker,message_subtitle,
        message_content,message_type,send_method,send_status,send_system,send_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
          (
            #{item.code,jdbcType=VARCHAR},
            #{item.umId,jdbcType=VARCHAR},
            #{item.messageTitle,jdbcType=VARCHAR},
            #{item.messageTicker,jdbcType=VARCHAR},
            #{item.messageSubtitle,jdbcType=VARCHAR},
            #{item.messageContent,jdbcType=VARCHAR},
            #{item.messageType,jdbcType=VARCHAR},
            #{item.sendMethod,jdbcType=VARCHAR},
            #{item.sendStatus,jdbcType=VARCHAR},
            #{item.sendSystem,jdbcType=VARCHAR},
            #{item.sendTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>


    <!--根据老状态修改成新状态-->
    <update id="updateMessageInfoStatusByStatus" parameterType="java.util.Map">
        UPDATE plms_message_info set send_status=#{newSendStatus},batch_no=#{batchNo}
        WHERE send_status=#{oldSendStatus}
    </update>

    <!--查询出所有这个批次好的推送信息-->
    <select id="queryMessageInfoByBatch" parameterType="java.util.Map" resultType="com.vilio.plms.pojo.MessageInfo">
        SELECT
            id,
            `code`,
            um_id as umId,
            message_title as messageTitle,
            message_ticker as messageTicker,
            message_subtitle as messageSubtitle,
            message_content as messageContent,
            send_time as sendTime,
            message_type as messageType,
            send_method as sendMethod,
            batch_no as batchNo,
            send_status as sendStatus,
            send_system as sendSystem,
            create_time as createTime,
            update_time as updateTime,
            remark1,
            remark2
        FROM
            plms_message_info
        WHERE  batch_no=#{batchNo}
    </select>


    <!--根据批次号和系统标识更改数据库-->
    <update id="updateMessageInfoByBatchAndSystem" parameterType="java.util.Map">
        UPDATE plms_message_info set send_status=#{sendStatus},ret_code=#{retCode},ret_msg=#{retMsg}
        WHERE batch_no=#{batchNo} and send_system = #{sendSystem}
    </update>

    <!--转移历史表-->
    <insert id="insertMessageInfoLogByBatch" parameterType="java.util.Map">
        insert into plms_message_info_log(code,um_id,message_title,message_ticker,message_subtitle,message_content,
        send_time,message_type,send_method,batch_no,send_status,send_system,ret_code,ret_msg,create_time,update_time)
        select code,um_id,message_title,message_ticker,message_subtitle,message_content,
        send_time,message_type,send_method,batch_no,send_status,send_system,ret_code,ret_msg,create_time,update_time
        from plms_message_info WHERE batch_no=#{batchNo}
    </insert>

    <delete id="deleteMessageInfoByBatch" parameterType="java.util.Map">
        DELETE from plms_message_info WHERE batch_no=#{batchNo}
    </delete>

</mapper>