<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.plms.dao.UserGovernCityDao" >

    <select id="queryCityByUserNo" resultType="com.vilio.plms.pojo.UserGovernCity" parameterType="java.lang.String">
        SELECT
            t.city_code AS cityCode
            ,nc.abbr_name as cityName
        FROM
            plms_user_govern_city t
        LEFT JOIN plms_city nc ON t.city_code = nc.code
        WHERE
            t.user_id = #{userId,jdbcType=VARCHAR}
          AND t.status != '0'
    </select>

</mapper>