<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.plms.dao.PlmsHouseholdRegistrationDao">

    <insert id="saveHouseholdRegistration" parameterType="com.vilio.plms.pojo.PlmsHouseholdRegistration">
        INSERT INTO plms_household_registration (
            code,
            name,
            id_no,
            house_code,
            create_date,
            modify_date,
            status
        )
        VALUES
            (
                #{code,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR},
                #{idNo,jdbcType=VARCHAR},
                #{houseCode,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP},
                #{modifyDate,jdbcType=TIMESTAMP},
                #{status,jdbcType=VARCHAR}
            )
    </insert>
</mapper>