<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.nlbs.commonMapper.dao.NlbsApplyLoanStatusMapper" >
    <select id="queryAllLocalStatus" resultType="com.vilio.nlbs.commonMapper.pojo.NlbsApplyLoanStatus" >
        SELECT
            s.CODE,
            s.name
        FROM
            nlbs_apply_loan_status s
        GROUP BY
            s.CODE,
            s.name
    </select>

</mapper>