<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.nlbs.commonMapper.dao.NlbsLoginInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.nlbs.commonMapper.pojo.NlbsLoginInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="system_timestamp" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="client_timestamp" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, user_no, system_timestamp, client_timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nlbs_login_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nlbs_login_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsLoginInfo" >
    insert into nlbs_login_info (id, code, user_no,
      system_timestamp, client_timestamp)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{systemTimestamp,jdbcType=VARCHAR}, #{clientTimestamp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsLoginInfo" >
    insert into nlbs_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="systemTimestamp != null" >
        system_timestamp,
      </if>
      <if test="clientTimestamp != null" >
        client_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="systemTimestamp != null" >
        #{systemTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="clientTimestamp != null" >
        #{clientTimestamp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsLoginInfo" >
    update nlbs_login_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="systemTimestamp != null" >
        system_timestamp = #{systemTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="clientTimestamp != null" >
        client_timestamp = #{clientTimestamp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsLoginInfo" >
    update nlbs_login_info
    set code = #{code,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      system_timestamp = #{systemTimestamp,jdbcType=VARCHAR},
      client_timestamp = #{clientTimestamp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>