<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.nlbs.commonMapper.dao.NlbsRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.nlbs.commonMapper.pojo.NlbsRoleMenu" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="menu_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, role_code, menu_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nlbs_role_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nlbs_role_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleMenu" >
    insert into nlbs_role_menu (id, code, role_code,
      menu_code)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{menuCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleMenu" >
    insert into nlbs_role_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="menuCode != null" >
        menu_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleMenu" >
    update nlbs_role_menu
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleMenu" >
    update nlbs_role_menu
    set code = #{code,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      menu_code = #{menuCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>