<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.um.dao.UmMenuDao">

    <!--根据角色查询所有菜单信息-->
    <select id="queryMenuByRoles" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            a.id,
            a.menu_id as menuId,
            a.menu_name as menuName,
            a.super_id as superId,
            a.status,
            a.menu_desc as menu_desc,
            a.url,
            a.system_id as systemId,
            DATE_FORMAT(a.create_time,'%Y%m%d%H%i%s') as createTime
        FROM
            um_menu_info a,
            um_menu_role b
        WHERE
            a.menu_id = b.menu_id
            and a.status = #{menuStatus}
            and b.status = #{menuRoleStatus}
            and a.system_id = #{systemId}
            and b.role_id in
            <foreach collection="roles" item="role"
                     index="index" open="(" close=")" separator=",">
                #{role.roleId}
            </foreach>
    </select>




</mapper>