<!--<div class="bg">-->
  <!--<div class="container">-->
    <!--<div class="forg">-->
      <!--<div class="mask"></div>-->
    <!--</div>-->
    <!--<div class="bg">-->
        <!--<div class="logo"></div>-->
        <!--<p class="q_p">业务管理系统</p>-->
    <!--</div>-->
    <!--<div class="logo-phone">-->
      <!--<i></i>-->
      <!--<input type="text" placeholder="请输入手机号" class="q_num">-->
    <!--</div>-->
    <!--<div class="logo-lock">-->
      <!--<i></i>-->
      <!--<input type="password" placeholder="请输入密码" class="q_pass" maxlength="6">-->
    <!--</div>-->
    <!--<div>-->
      <!--<span class="sql"></span>-->
    <!--</div>-->
    <!--<input type="button" value="登录" class="logo-submit" (click)="test()">-->
  <!--</div>-->
<!--</div>-->
<!--<h1>-->
  <!--{{title}}-->
<!--</h1>-->
<!--<a [routerLink]="['/login']">home</a>-->




<router-outlet></router-outlet>

