<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：BPS_INQUIRY_RESULT_RELATION
* 表的名称：询价请求与计算结果关联表
* 对应实体：com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation
* 开发日期：2017-06-12
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.bps.commonMapper.dao.IBpsInquiryResultRelationMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsert+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
              INTO   BPS_INQUIRY_RESULT_RELATION         /* 询价请求与计算结果关联表 */ 
                    (
                     SERIAL_NO                           /* bps_user_inquiry表中serial_no */ 
                    ,RESULT_CODE                         /* bps_house_assessment_result中code */ 
                    )
            VALUES  (
                     #{serialNo}                         /* bps_user_inquiry表中serial_no */ 
                    ,#{resultCode}                       /* bps_house_assessment_result中code */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsertPrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
              INTO   BPS_INQUIRY_RESULT_RELATION         /* 询价请求与计算结果关联表 */ 
                    (
                     SERIAL_NO                           /* bps_user_inquiry表中serial_no */ 
                    ,RESULT_CODE                         /* bps_house_assessment_result中code */ 
                    )
            VALUES  (
                     #{serialNo}                         /* bps_user_inquiry表中serial_no */ 
                    ,#{resultCode}                       /* bps_house_assessment_result中code */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
              FROM   BPS_INQUIRY_RESULT_RELATION    /* 询价请求与计算结果关联表 */ 
             WHERE   ID = #{_parameter}             /*  */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation">
    
            UPDATE   /* getUpdate+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     BPS_INQUIRY_RESULT_RELATION                       /* 询价请求与计算结果关联表 */ 
               SET   SERIAL_NO                      = #{serialNo}      /* bps_user_inquiry表中serial_no */ 
                    ,RESULT_CODE                    = #{resultCode}    /* bps_house_assessment_result中code */ 
             WHERE   ID                             = #{id}            /*  */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     BPS_INQUIRY_RESULT_RELATION                       /* 询价请求与计算结果关联表 */ 
               SET   SERIAL_NO                      = #{serialNo}      /* bps_user_inquiry表中serial_no */ 
                    ,RESULT_CODE                    = #{resultCode}    /* bps_house_assessment_result中code */ 
             WHERE   ID                             = #{id}            /*  */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation">
    
            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     birr.ID                              AS id            /*  */ 
                    ,birr.SERIAL_NO                       AS serialNo      /* bps_user_inquiry表中serial_no */ 
                    ,birr.RESULT_CODE                     AS resultCode    /* bps_house_assessment_result中code */ 
              FROM   BPS_INQUIRY_RESULT_RELATION             birr          /* 询价请求与计算结果关联表 */ 
             WHERE   birr.ID = #{_parameter}                               /*  */ 
         
    </select>
    
    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     birr.ID                              AS id            /*  */ 
                    ,birr.SERIAL_NO                       AS serialNo      /* bps_user_inquiry表中serial_no */ 
                    ,birr.RESULT_CODE                     AS resultCode    /* bps_house_assessment_result中code */ 
              FROM   BPS_INQUIRY_RESULT_RELATION             birr          /* 询价请求与计算结果关联表 */ 
             WHERE   birr.ID = #{_parameter}                               /*  */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation">
    
            SELECT   /* getList+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     birr.ID                              AS id            /*  */ 
                    ,birr.SERIAL_NO                       AS serialNo      /* bps_user_inquiry表中serial_no */ 
                    ,birr.RESULT_CODE                     AS resultCode    /* bps_house_assessment_result中code */ 
              FROM   BPS_INQUIRY_RESULT_RELATION             birr          /* 询价请求与计算结果关联表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   birr.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   birr.SERIAL_NO = #{serialNo} /* bps_user_inquiry表中serial_no */ 
             </if>
        
             <if test='resultCode != null and resultCode != "" and resultCode != "null" and resultCode != "undefined"'>
               AND   birr.RESULT_CODE = #{resultCode} /* bps_house_assessment_result中code */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     birr.ID                              AS id            /*  */ 
                    ,birr.SERIAL_NO                       AS serialNo      /* bps_user_inquiry表中serial_no */ 
                    ,birr.RESULT_CODE                     AS resultCode    /* bps_house_assessment_result中code */ 
              FROM   BPS_INQUIRY_RESULT_RELATION             birr          /* 询价请求与计算结果关联表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   birr.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   birr.SERIAL_NO = #{serialNo} /* bps_user_inquiry表中serial_no */ 
             </if>
        
             <if test='resultCode != null and resultCode != "" and resultCode != "null" and resultCode != "undefined"'>
               AND   birr.RESULT_CODE = #{resultCode} /* bps_house_assessment_result中code */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     birr.ID                              AS id            /*  */ 
                    ,birr.SERIAL_NO                       AS serialNo      /* bps_user_inquiry表中serial_no */ 
                    ,birr.RESULT_CODE                     AS resultCode    /* bps_house_assessment_result中code */ 
              FROM   BPS_INQUIRY_RESULT_RELATION             birr          /* 询价请求与计算结果关联表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   birr.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   birr.SERIAL_NO = #{serialNo} /* bps_user_inquiry表中serial_no */ 
             </if>
        
             <if test='resultCode != null and resultCode != "" and resultCode != "null" and resultCode != "undefined"'>
               AND   birr.RESULT_CODE = #{resultCode} /* bps_house_assessment_result中code */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     count(1)
              FROM   BPS_INQUIRY_RESULT_RELATION  /* 询价请求与计算结果关联表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /* bps_user_inquiry表中serial_no */ 
             </if>
        
             <if test='resultCode != null and resultCode != "" and resultCode != "null" and resultCode != "undefined"'>
               AND   RESULT_CODE = #{resultCode} /* bps_house_assessment_result中code */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryResultRelationMapper.xml */ 
                     count(1)
              FROM   BPS_INQUIRY_RESULT_RELATION  /* 询价请求与计算结果关联表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /* bps_user_inquiry表中serial_no */ 
             </if>
        
             <if test='resultCode != null and resultCode != "" and resultCode != "null" and resultCode != "undefined"'>
               AND   RESULT_CODE = #{resultCode} /* bps_house_assessment_result中code */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>

    <insert id="saveInquiryResult"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryResultRelation">

        INSERT
        INTO   bps_inquiry_result_relation
        (
        SERIAL_NO
        ,RESULT_CODE
        )
        VALUES  (
        #{serialNo}
        ,#{resultCode}
        )
    </insert>

</mapper>