<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：BPS_MATERIAL_TYPE
* 表的名称：材料类型表
* 对应实体：com.vilio.bps.commonMapper.pojo.BpsMaterialType
* 开发日期：2017-06-12
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.bps.commonMapper.dao.IBpsMaterialTypeMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsMaterialType"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsert+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
              INTO   BPS_MATERIAL_TYPE         /* 材料类型表 */ 
                    (
                     CODE                      /*  */ 
                    ,ABBR_NAME                 /* 简称 */ 
                    ,FULL_NAME                 /* 全称 */ 
                    )
            VALUES  (
                     #{code}                   /*  */ 
                    ,#{abbrName}               /* 简称 */ 
                    ,#{fullName}               /* 全称 */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsertPrmMap+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
              INTO   BPS_MATERIAL_TYPE         /* 材料类型表 */ 
                    (
                     CODE                      /*  */ 
                    ,ABBR_NAME                 /* 简称 */ 
                    ,FULL_NAME                 /* 全称 */ 
                    )
            VALUES  (
                     #{code}                   /*  */ 
                    ,#{abbrName}               /* 简称 */ 
                    ,#{fullName}               /* 全称 */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
              FROM   BPS_MATERIAL_TYPE    /* 材料类型表 */ 
             WHERE   ID = #{_parameter}   /*  */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsMaterialType">
    
            UPDATE   /* getUpdate+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     BPS_MATERIAL_TYPE                     /* 材料类型表 */ 
               SET   CODE                 = #{code}        /*  */ 
                    ,ABBR_NAME            = #{abbrName}    /* 简称 */ 
                    ,FULL_NAME            = #{fullName}    /* 全称 */ 
             WHERE   ID                   = #{id}          /*  */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     BPS_MATERIAL_TYPE                     /* 材料类型表 */ 
               SET   CODE                 = #{code}        /*  */ 
                    ,ABBR_NAME            = #{abbrName}    /* 简称 */ 
                    ,FULL_NAME            = #{fullName}    /* 全称 */ 
             WHERE   ID                   = #{id}          /*  */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.bps.commonMapper.pojo.BpsMaterialType">
    
            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     bmt.ID                    AS id          /*  */ 
                    ,bmt.CODE                  AS code        /*  */ 
                    ,bmt.ABBR_NAME             AS abbrName    /* 简称 */ 
                    ,bmt.FULL_NAME             AS fullName    /* 全称 */ 
              FROM   BPS_MATERIAL_TYPE            bmt         /* 材料类型表 */ 
             WHERE   bmt.ID = #{_parameter}                   /*  */ 
         
    </select>
    
    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     bmt.ID                    AS id          /*  */ 
                    ,bmt.CODE                  AS code        /*  */ 
                    ,bmt.ABBR_NAME             AS abbrName    /* 简称 */ 
                    ,bmt.FULL_NAME             AS fullName    /* 全称 */ 
              FROM   BPS_MATERIAL_TYPE            bmt         /* 材料类型表 */ 
             WHERE   bmt.ID = #{_parameter}                   /*  */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsMaterialType"
            resultType="com.vilio.bps.commonMapper.pojo.BpsMaterialType">
    
            SELECT   /* getList+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     bmt.ID                    AS id          /*  */ 
                    ,bmt.CODE                  AS code        /*  */ 
                    ,bmt.ABBR_NAME             AS abbrName    /* 简称 */ 
                    ,bmt.FULL_NAME             AS fullName    /* 全称 */ 
              FROM   BPS_MATERIAL_TYPE            bmt         /* 材料类型表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bmt.ID = #{id} /*  */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bmt.CODE = #{code} /*  */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bmt.ABBR_NAME = #{abbrName} /* 简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bmt.FULL_NAME = #{fullName} /* 全称 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.bps.commonMapper.pojo.BpsMaterialType">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     bmt.ID                    AS id          /*  */ 
                    ,bmt.CODE                  AS code        /*  */ 
                    ,bmt.ABBR_NAME             AS abbrName    /* 简称 */ 
                    ,bmt.FULL_NAME             AS fullName    /* 全称 */ 
              FROM   BPS_MATERIAL_TYPE            bmt         /* 材料类型表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bmt.ID = #{id} /*  */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bmt.CODE = #{code} /*  */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bmt.ABBR_NAME = #{abbrName} /* 简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bmt.FULL_NAME = #{fullName} /* 全称 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     bmt.ID                    AS id          /*  */ 
                    ,bmt.CODE                  AS code        /*  */ 
                    ,bmt.ABBR_NAME             AS abbrName    /* 简称 */ 
                    ,bmt.FULL_NAME             AS fullName    /* 全称 */ 
              FROM   BPS_MATERIAL_TYPE            bmt         /* 材料类型表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bmt.ID = #{id} /*  */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bmt.CODE = #{code} /*  */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bmt.ABBR_NAME = #{abbrName} /* 简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bmt.FULL_NAME = #{fullName} /* 全称 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsMaterialType"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     count(1)
              FROM   BPS_MATERIAL_TYPE  /* 材料类型表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /*  */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 全称 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.bps.commonMapper.sql.BpsMaterialTypeMapper.xml */ 
                     count(1)
              FROM   BPS_MATERIAL_TYPE  /* 材料类型表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /*  */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 全称 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>


</mapper>