  <!--公证抵押 start-->
  <div class="row">
    <div class="filed-name col-2">签约公证时间：</div>
    <div class="filed-text col-4">{{notarialAndMortgage.signTime|dealDate}}</div>
    <div class="filed-name col-2">抵押时间：</div>
    <div class="filed-text col-4">{{notarialAndMortgage.registrationTime|dealDate}}</div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="height-80 filed-name-bg">
        <div class="filed-name-modify">备注：</div>
      </div>
    </div>
    <div class="col-4">
      <div class="height-80">
        <div class="filed-name-modify filed-name-modify-txt">{{notarialAndMortgage.signRemark}}</div>
      </div>
    </div>
    <div class="col-2">
      <div class="height-80 filed-name-bg">
        <div class="filed-name-modify">备注：</div>
      </div>
    </div>
    <div class="col-4">
      <div class="height-80">
        <div class="filed-name-modify filed-name-modify-txt">{{notarialAndMortgage.registrationRemark}}</div>
      </div>
    </div>
  </div>
  <!--公证抵押 end->
  <!--签约公证的材料分类与材料清单 start-->
  <div class="material_tab margin-top-40">
    <div class="row">
      <div class="col-6" id="messageTitle_classify">
        <div class="row margin-bottom-20">
          <div class="message-title-line"></div>
          <div class="message-title-name">材料分类</div>
        </div>

        <div class="material-panel" (click)="meterialNumberFunc(notarialAndMortgage.signFileList)">
          <label class="material-label">
            <input type="radio" name="apply" class="material-input"/>签约公证材料
            <em
              *ngIf="notarialAndMortgage.signFileList&&notarialAndMortgage.signFileList.length>0">({{notarialAndMortgage.signFileList.length}}个文件)</em>
          </label>
        </div>

        <div class="material-panel" *ngIf="notarialAndMortgage.haveGuaranteeCompany=='Y'"
             (click)="meterialNumberFunc(notarialAndMortgage.guaranteeFileList)">
          <label class="material-label">
            <input type="radio" name="apply" class="material-input" value="a"/>担保材料
            <em
              *ngIf="notarialAndMortgage.guaranteeFileList&&notarialAndMortgage.guaranteeFileList.length>0">({{notarialAndMortgage.guaranteeFileList.length}}个文件)</em>
          </label>
        </div>
        <div class="material-panel" *ngIf="notarialAndMortgage.haveSecureCompany=='Y'"
             (click)="meterialNumberFunc(notarialAndMortgage.insuranceFileList)">
          <label class="material-label">
            <input type="radio" name="apply" class="material-input" value="b"/>保险材料
            <em
              *ngIf="notarialAndMortgage.insuranceFileList&&notarialAndMortgage.insuranceFileList.length>0">({{notarialAndMortgage.insuranceFileList.length}}个文件)</em>
          </label>
        </div>
        <div class="material-panel"
             (click)="meterialNumberFunc(notarialAndMortgage.mortgageFileList)">
          <label class="material-label">
            <input type="radio" name="apply" class="material-input" value="c"/>抵押材料
            <em
              *ngIf="notarialAndMortgage.mortgageFileList&&notarialAndMortgage.mortgageFileList.length>0">({{notarialAndMortgage.mortgageFileList.length}}个文件)</em>
          </label>
        </div>
        <div class="material-panel"
             (click)="meterialNumberFunc(notarialAndMortgage.investigationFileList)">
          <label class="material-label">
            <input type="radio" name="apply" class="material-input" value="d"/>产调查询材料
            <em
              *ngIf="notarialAndMortgage.investigationFileList&&notarialAndMortgage.investigationFileList.length>0">({{notarialAndMortgage.investigationFileList.length}}个文件)</em>
          </label>
        </div>


        <div class="row margin-top-40">
          <div class="col-2">
            <button class="orange-button float-left" id="backToapplyQuery2" (click)="querySection()">{{this.button.name}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row margin-bottom-20">
          <div class="message-title-line"></div>
          <div class="message-title-name">材料清单</div>
        </div>
        <div class="row">
          <div class="col-12" >
            <div class="img-list col-4" *ngFor="let item of meterialNumber let i=index">
              <a class="img-box" *ngIf="notarialAndMortgage" (click)="downloadFile(item)"><img src={{selectFileList[i]}}/></a>
              <p class="upload-file-name">{{item.fileName}}</p>
              <div class="upload-file-time">{{item.uploadTime|date:'yyyy-MM-dd hh:mm:ss'}}</div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

<!--签约公证的材料分类与材料清单 end-->
