<!--还款计划确认-->
<div class="row">
  <ol class="breadcrumbNav col-12">
    <li class="active">还款计划确认</li>
  </ol>

</div>

<div class="row">
  <div class="col-12">
    <hr class="breadcrumbNavLine">
  </div>
</div>

<div class="row">
  <div class="condition-search">
    <form>
      <div class="bundle-area" id="cityWraper">
        <div class="queryName">城市：</div>
        <select class="width-100 queryContent" id="cityList" name="cityCode" [(ngModel)]="cityValue" >
          <option></option>
        </select>
      </div>
      <div class="bundle-area" id="channel">
        <div class="queryName">渠道：</div>
        <select class="width-100 queryContent" id="channelList" name="channelCode" [(ngModel)]="channelValue" >
          <option></option>
        </select>
      </div>
      <div class="bundle-area">
        <div class="queryName">借款人：</div>
        <input class="msg-input width-100 queryContent" type="text" id="loanCustomer" name="loanCustomer" maxlength="15"/>
      </div>
      <div class="bundle-area">
        <div class="queryName">授信日期：</div>
        <input class="msg-input width-100 datestart date-placeholderStyle"  type="text" id="applyTimeBegin" name="applyTimeBegin" readonly placeholder="年/月/日"/>
        <div class="queryName">至</div>
        <input class="msg-input width-100 queryContent date-placeholderStyle" type="text" id="applyTimeEnd" name="applyTimeEnd" readonly placeholder="年/月/日"/>
      </div>
      <div class="bundle-area">
        <div class="queryName">业务经理：</div>
        <input class="msg-input width-100 queryContent" type="text" id="serviceManager" name="serviceManager" maxlength="15"/>
      </div>
      <button class="search-btn margin-left-20" id="search_btns" (click)="onSearchBtnClick()">搜索</button>
    </form>
  </div>
</div>

<div class="row margin-top-30">
  <div class="col-12">
    <table class="table width-100per" border="0" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <th class="width-16"></th>
        <th class="width-140">借款合同编号</th>
        <th class="width-80">城市</th>
        <th class="width-100">渠道</th>
        <th class="width-100">借款人</th>
        <th class="width-100">授信日期</th>
        <th class="width-120">授信金额（万元）</th>
        <th class="width-100">授信期限（月）</th>
        <th class="width-120">应还总额（万元）</th>
        <th class="width-60">总期数</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of currentItemLists">
        <td class="width-16"></td>
        <td class="width-140">{{item.contractNo}}</td>
        <td class="width-80"> {{item.cityName}}</td>
        <td class="width-100">{{item.distributorName}}</td>
        <td class="width-100">{{item.customerName}}</td>
        <td class="width-100">{{item.creditStartDate | date:"yyyy-MM-dd"}}</td>
        <td class="width-120">{{item.totalQuota|changeUnit|permil}}</td>
        <td class="width-100">{{item.creditPeriod}}</td>
        <td class="width-120">{{item.repaymentAmount|changeUnit |permil }}</td>
        <td class="width-60">{{item.totalPeriod}}</td>
        <td class="operation"><a (click)="onSecondOperationClick(item)">查看</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="table_footer col-12">
    <div class="table_ll">
      共{{totalListsCount}}条，显示第{{startListIndex}}至{{endListIndex}}条
    </div>
    <div class="table_rr">
      <div class="tablePageCode"></div>
    </div>
  </div>
</div>
