<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.um.dao.UmSubSystemDao">

    <!--查询机构信息表-->
    <select id="querySubSystem" resultType="com.vilio.um.pojo.UmSubSystem" parameterType="com.vilio.um.pojo.UmSubSystem">
        SELECT
            id,
            system_id as systemId,
            system_name as systemName,
            status,
            system_desc as systemDesc,
            DATE_FORMAT(create_time,'%Y%m%d%H%i%s') as createTime
        FROM
            um_system_info
        WHERE system_id = #{systemId}
    </select>






</mapper>