<!--进件详情的抵押物信息弹窗start-->
<div class="popup dataInfoPawnPopup">
  <header class="header">
    <h4 class="header-title">抵押物信息详情</h4>
    <span class="close-btn" (click)="popupCloseBtn()">X</span>
  </header>
  <div class="popup-main">
    <div class="row">
      <div class="filed-name  col-3">产证编号：</div>
      <div class="filed-text  col-9">{{selectItemPopViewObj.certificate_number}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">评估价：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.inquiryInformation|changeUnit| keepTwoDecimal|permil}}万元</div>
      <div class="filed-name col-3">登记日：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.registerDate | dealYearMonth}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">产权人：</div>
      <div class="filed-text col-9">{{selectItemPopViewObj.investigationPerson}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">产证地址：</div>
      <div class="filed-text col-9">{{selectItemPopViewObj.certificateAddress}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">土地性质：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.landProperty}}</div>
      <div class="filed-name col-3">使用权取得方式：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.acquisitionForm}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">土地用途：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.landUsage}}</div>
      <div class="filed-name col-3">房屋所有权来源：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.ownerSource}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">房屋类型：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.type}}</div>
      <div class="filed-name col-3">建筑面积：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.coveredArea?selectItemPopViewObj.coveredArea+'平方米':''}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">车库地址：</div>
      <div class="filed-text col-3 text-left">{{selectItemPopViewObj.garageAddress}}</div>
      <div class="filed-name col-3">车库面积：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.garageArea?selectItemPopViewObj.garageArea+'平方米':''}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">总层数：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.totalFloor}}</div>
      <div class="filed-name col-3">竣工日期：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.buildYear?selectItemPopViewObj.buildYear+'年':''}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">共有类型：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.shareType}}</div>
      <div class="filed-name col-3">未成年人份额：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.minorsUnits*100|keepTwoDecimal|permil}}%</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">房屋使用情况：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.usageDetail}}</div>
      <div class="filed-name col-3">是否唯一住房：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.isUnique}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">户口结构：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.registeredResidenceStructure}}</div>
      <div class="filed-name col-3">抵押类型：</div>
      <div class="filed-text col-3">{{selectItemPopViewObj.mortgageType}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3" *ngIf="secondMortgagePrice">二抵金额：</div>
      <div class="filed-text col-3" *ngIf="secondMortgagePrice">{{selectItemPopViewObj.secondMortgageAmount?
        (selectItemPopViewObj.secondMortgageAmount|changeUnit|keepTwoDecimal|permil)+'万元':''}}</div>
      <div class="filed-name col-3" *ngIf="firstMortgageBalance">一抵余额：</div>
      <div class="filed-text col-3" *ngIf="firstMortgageBalance">
        {{selectItemPopViewObj.firstBalanceType?selectItemPopViewObj.firstBalanceType:''}}
        {{(selectItemPopViewObj.firstBalanceAmount?(selectItemPopViewObj.firstBalanceAmount|changeUnit|keepTwoDecimal|permil)+'万元':'')
        ||(selectItemPopViewObj.firstBalanceAmount==''?'':'')}}</div>
      <div class="filed-name col-3" *ngIf="firstMortgagePrice">一抵金额：</div>
      <div class="filed-text col-3" *ngIf="firstMortgagePrice">{{selectItemPopViewObj.firstMortgageAmount?
        (selectItemPopViewObj.firstMortgageAmount|changeUnit|keepTwoDecimal|permil)+'万元':''}}</div>
    </div>
    <div class="row">
      <div class="filed-name col-3">附记：</div>
      <div class="filed-text col-9" style="overflow-y: auto">{{selectItemPopViewObj.remark}}</div>
    </div>
    <div *ngIf="selectItemPopViewObj.propertyInvestigation||selectItemPopViewObj.propertyInvestigation.investDetailList">
        <div class="row">
          <div class="filed-name col-3">产调信息：</div>
          <div class="filed-text col-9">
            <div class="fl">产调时间：</div>
            <div class="fl">{{selectItemPopViewObj.propertyInvestigation.investigationTime|date:'yyyy年M月d日'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="filed-name col-3"></div>
          <div class="filed-text col-9">
            <div class="fl">在办案件：</div>
            <div class="fl">{{selectItemPopViewObj.propertyInvestigation.inCaseInformation}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="filed-name"></div>
          </div>
          <div *ngFor="let item of selectItemPopViewObj.propertyInvestigation.investDetailList">
            <div class="col-3 filed-text"><span>{{item.mortgageRank }}债权人：</span>
              <span>{{item.creditorRightsPerson}}</span>
            </div>
            <div class="col-3 filed-text"><span>{{item.creditorRightsType+(item.creditorAmount|changeUnit|permil)}}万元</span></div>
            <div class="col-3 filed-text"><span>{{item.creditorRightNature}}</span></div>
          </div>


        </div>

    </div>
    <div class="row" *ngIf="selectItemPopViewObj.householdRegistrationList">
      <div class="filed-name col-3">户口信息：</div>
      <div class="col-9 width-100per" *ngFor=" let item of selectItemPopViewObj.householdRegistrationList; let i=index">
        <div class="col-3 padding-right-15">
          <div class="filed-name"></div>
        </div>
        <div class="col-9">
          <div class="filed-text" style="margin-top: -37px;">
            <div class="popup-info"><span>姓名：</span><span>{{item.name}}</span></div>
            <div class="popup-info"><span>身份证号：</span><span>{{item.idNo}}</span></div>

          </div>
        </div>
      </div>
    </div>



  </div>
  <button class="orange-button margin-top-40 margin-bottom-0" (click)="popupCloseBtn()">返回</button>
</div>
<!--进件详情的抵押物信息弹窗end-->
