<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：NLBS_OPERATION_HISTORY
* 表的名称：操作历史表
* 对应实体：com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory
* 开发日期：2017-06-15
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.nlbs.commonMapper.dao.NlbsOperationHistoryMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsert+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
              INTO   NLBS_OPERATION_HISTORY         /* 操作历史表 */ 
                    (
                    OPERATER                       /*  */
                    ,SERIAL_NO                      /* 关联单号 */ 
                    ,SYSTEM_CODE                    /* 序列号所属系统 */ 
                    ,OPERATE_TYPE                   /* 操作类型 */ 
                    )
            VALUES  (
                    #{operater}                    /*  */
                    ,#{serialNo}                    /* 关联单号 */ 
                    ,#{systemCode}                  /* 序列号所属系统 */ 
                    ,#{operateType}                 /* 操作类型 */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsertPrmMap+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
              INTO   NLBS_OPERATION_HISTORY         /* 操作历史表 */ 
                    (
                    OPERATER                       /*  */
                    ,SERIAL_NO                      /* 关联单号 */ 
                    ,SYSTEM_CODE                    /* 序列号所属系统 */ 
                    ,OPERATE_TYPE                   /* 操作类型 */ 
                    )
            VALUES  (
                    #{operater}                    /*  */
                    ,#{serialNo}                    /* 关联单号 */ 
                    ,#{systemCode}                  /* 序列号所属系统 */ 
                    ,#{operateType}                 /* 操作类型 */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
              FROM   NLBS_OPERATION_HISTORY    /* 操作历史表 */ 
             WHERE   ID = #{_parameter}        /*  */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory">
    
            UPDATE   /* getUpdate+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     NLBS_OPERATION_HISTORY                        /* 操作历史表 */ 
               SET   OPERATER                  = #{operater}       /*  */
                    ,SERIAL_NO                 = #{serialNo}       /* 关联单号 */ 
                    ,SYSTEM_CODE               = #{systemCode}     /* 序列号所属系统 */ 
                    ,OPERATE_TYPE              = #{operateType}    /* 操作类型 */ 
             WHERE   ID                        = #{id}             /*  */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     NLBS_OPERATION_HISTORY                        /* 操作历史表 */ 
               SET   OPERATER                  = #{operater}       /*  */
                    ,SERIAL_NO                 = #{serialNo}       /* 关联单号 */ 
                    ,SYSTEM_CODE               = #{systemCode}     /* 序列号所属系统 */ 
                    ,OPERATE_TYPE              = #{operateType}    /* 操作类型 */ 
             WHERE   ID                        = #{id}             /*  */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory">
    
            SELECT   /* getBean+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     noh.ID                         AS id             /*  */ 
                    ,noh.CREATE_TIME                AS createTime     /*  */ 
                    ,noh.OPERATER                   AS operater       /*  */ 
                    ,noh.SERIAL_NO                  AS serialNo       /* 关联单号 */ 
                    ,noh.SYSTEM_CODE                AS systemCode     /* 序列号所属系统 */ 
                    ,noh.OPERATE_TYPE               AS operateType    /* 操作类型 */ 
              FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */ 
             WHERE   noh.ID = #{_parameter}                           /*  */ 
         
    </select>
    
    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     noh.ID                         AS id             /*  */ 
                    ,noh.CREATE_TIME                AS createTime     /*  */ 
                    ,noh.OPERATER                   AS operater       /*  */ 
                    ,noh.SERIAL_NO                  AS serialNo       /* 关联单号 */ 
                    ,noh.SYSTEM_CODE                AS systemCode     /* 序列号所属系统 */ 
                    ,noh.OPERATE_TYPE               AS operateType    /* 操作类型 */ 
              FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */ 
             WHERE   noh.ID = #{_parameter}                           /*  */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory"
            resultType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory">
    
            SELECT   /* getList+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     noh.ID                         AS id             /*  */ 
                    ,noh.CREATE_TIME                AS createTime     /*  */ 
                    ,noh.OPERATER                   AS operater       /*  */ 
                    ,noh.SERIAL_NO                  AS serialNo       /* 关联单号 */ 
                    ,noh.SYSTEM_CODE                AS systemCode     /* 序列号所属系统 */ 
                    ,noh.OPERATE_TYPE               AS operateType    /* 操作类型 */ 
              FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   noh.ID = #{id} /*  */ 
             </if>
        
             <if test='createTime != null'>
               AND   date_format(noh.CREATE_TIME ,'%Y-%m-%d') = #{createTimeChar} /*  */ 
             </if>
        
             <if test='operater != null and operater != "" and operater != "null" and operater != "undefined"'>
               AND   noh.OPERATER = #{operater} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   noh.SERIAL_NO = #{serialNo} /* 关联单号 */ 
             </if>
        
             <if test='systemCode != null and systemCode != "" and systemCode != "null" and systemCode != "undefined"'>
               AND   noh.SYSTEM_CODE = #{systemCode} /* 序列号所属系统 */ 
             </if>
        
             <if test='operateType != null and operateType != "" and operateType != "null" and operateType != "undefined"'>
               AND   noh.OPERATE_TYPE = #{operateType} /* 操作类型 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     noh.ID                         AS id             /*  */ 
                    ,noh.CREATE_TIME                AS createTime     /*  */ 
                    ,noh.OPERATER                   AS operater       /*  */ 
                    ,noh.SERIAL_NO                  AS serialNo       /* 关联单号 */ 
                    ,noh.SYSTEM_CODE                AS systemCode     /* 序列号所属系统 */ 
                    ,noh.OPERATE_TYPE               AS operateType    /* 操作类型 */ 
              FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   noh.ID = #{id} /*  */ 
             </if>
        
             <if test='createTime != null'>
               AND   date_format(noh.CREATE_TIME ,'%Y-%m-%d') = #{createTimeChar} /*  */ 
             </if>
        
             <if test='operater != null and operater != "" and operater != "null" and operater != "undefined"'>
               AND   noh.OPERATER = #{operater} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   noh.SERIAL_NO = #{serialNo} /* 关联单号 */ 
             </if>
        
             <if test='systemCode != null and systemCode != "" and systemCode != "null" and systemCode != "undefined"'>
               AND   noh.SYSTEM_CODE = #{systemCode} /* 序列号所属系统 */ 
             </if>
        
             <if test='operateType != null and operateType != "" and operateType != "null" and operateType != "undefined"'>
               AND   noh.OPERATE_TYPE = #{operateType} /* 操作类型 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     noh.ID                         AS id             /*  */ 
                    ,noh.CREATE_TIME                AS createTime     /*  */ 
                    ,noh.OPERATER                   AS operater       /*  */ 
                    ,noh.SERIAL_NO                  AS serialNo       /* 关联单号 */ 
                    ,noh.SYSTEM_CODE                AS systemCode     /* 序列号所属系统 */ 
                    ,noh.OPERATE_TYPE               AS operateType    /* 操作类型 */ 
              FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   noh.ID = #{id} /*  */ 
             </if>
        
             <if test='createTime != null'>
               AND   date_format(noh.CREATE_TIME ,'%Y-%m-%d') = #{createTimeChar} /*  */ 
             </if>
        
             <if test='operater != null and operater != "" and operater != "null" and operater != "undefined"'>
               AND   noh.OPERATER = #{operater} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   noh.SERIAL_NO = #{serialNo} /* 关联单号 */ 
             </if>
        
             <if test='systemCode != null and systemCode != "" and systemCode != "null" and systemCode != "undefined"'>
               AND   noh.SYSTEM_CODE = #{systemCode} /* 序列号所属系统 */ 
             </if>
        
             <if test='operateType != null and operateType != "" and operateType != "null" and operateType != "undefined"'>
               AND   noh.OPERATE_TYPE = #{operateType} /* 操作类型 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsOperationHistory"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     count(1)
              FROM   NLBS_OPERATION_HISTORY  /* 操作历史表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='createTime != null'>
               AND   date_format(CREATE_TIME ,'%Y-%m-%d') = #{createTimeChar} /*  */ 
             </if>
        
             <if test='operater != null and operater != "" and operater != "null" and operater != "undefined"'>
               AND   OPERATER = #{operater} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /* 关联单号 */ 
             </if>
        
             <if test='systemCode != null and systemCode != "" and systemCode != "null" and systemCode != "undefined"'>
               AND   SYSTEM_CODE = #{systemCode} /* 序列号所属系统 */ 
             </if>
        
             <if test='operateType != null and operateType != "" and operateType != "null" and operateType != "undefined"'>
               AND   OPERATE_TYPE = #{operateType} /* 操作类型 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.nlbs.commonMapper.sql.NlbsOperationHistoryMapper.xml */ 
                     count(1)
              FROM   NLBS_OPERATION_HISTORY  /* 操作历史表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='createTime != null'>
               AND   date_format(CREATE_TIME ,'%Y-%m-%d') = #{createTimeChar} /*  */ 
             </if>
        
             <if test='operater != null and operater != "" and operater != "null" and operater != "undefined"'>
               AND   OPERATER = #{operater} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /* 关联单号 */ 
             </if>
        
             <if test='systemCode != null and systemCode != "" and systemCode != "null" and systemCode != "undefined"'>
               AND   SYSTEM_CODE = #{systemCode} /* 序列号所属系统 */ 
             </if>
        
             <if test='operateType != null and operateType != "" and operateType != "null" and operateType != "undefined"'>
               AND   OPERATE_TYPE = #{operateType} /* 操作类型 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>

    <select id="getListBySerialNo"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">

        SELECT
         noh.CREATE_TIME                AS createTime     /*  */
        ,nd.full_name                   AS distributorName       /*  */
        ,nu.full_name                  AS userName       /* 关联单号 */
        ,notype.name                       AS operateName    /* 操作类型 */
        FROM   NLBS_OPERATION_HISTORY            noh            /* 操作历史表 */
              ,NLBS_OPERATION_TYPE               notype
              ,NLBS_USER                         nu
              ,NLBS_AGENT                        na
              ,NLBS_DISTRIBUTOR                  nd
        WHERE    noh.OPERATE_TYPE = notype.code
            AND  noh.operater = nu.user_no
            AND  nu.agent_id = na.agent_id
            AND  na.distributor_code = nd.code
            AND   noh.SERIAL_NO = #{serialNo} /* 关联单号 */
            ORDER BY  noh.CREATE_TIME DESC  /* 排序 */

    </select>


</mapper>