<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.nlbs.commonMapper.dao.NlbsRoleUserMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, role_code, user_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from nlbs_role_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUserRole" resultMap="BaseResultMap" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    select
    <include refid="Base_Column_List" />
    from nlbs_role_user
    where 1 =1
    <if test="userNo != null" >
      and user_no = #{userNo,jdbcType=VARCHAR}
    </if>
    <if test="roleCode != null" >
      and role_code = #{roleCode,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from nlbs_role_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    insert into nlbs_role_user (id, code, role_code,
      user_no)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{userNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    insert into nlbs_role_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="roleCode != null" >
        role_code,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    update nlbs_role_user
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.nlbs.commonMapper.pojo.NlbsRoleUser" >
    update nlbs_role_user
    set code = #{code,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--删除某用户的所有用户角色-->
  <delete id="deleteRoleUserByUserNo" parameterType="java.lang.String" >
    delete from nlbs_role_user
    where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>

</mapper>