<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：BPS_INQUIRY_APPLY_RELATION
* 表的名称：询价请求与询价公司结果关系表
* 对应实体：com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation
* 开发日期：2017-06-12
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.bps.commonMapper.dao.IBpsInquiryApplyRelationMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">
    
            INSERT   /* getInsert+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
              INTO   BPS_INQUIRY_APPLY_RELATION             /* 询价请求与询价公司结果关系表 */ 
                    (
                     ID                                     /*  */ 
                    ,SERIAL_NO                              /*  */ 
                    ,APPLY_CODE                             /*  */ 
                    )
            VALUES  (
                     #{id}                                  /*  */ 
                    ,#{serialNo}                            /*  */ 
                    ,#{applyCode}                           /*  */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap">
    
            INSERT   /* getInsertPrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
              INTO   BPS_INQUIRY_APPLY_RELATION             /* 询价请求与询价公司结果关系表 */ 
                    (
                     ID                                     /*  */ 
                    ,SERIAL_NO                              /*  */ 
                    ,APPLY_CODE                             /*  */ 
                    )
            VALUES  (
                     #{id}                                  /*  */ 
                    ,#{serialNo}                            /*  */ 
                    ,#{applyCode}                           /*  */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
              FROM   BPS_INQUIRY_APPLY_RELATION    /* 询价请求与询价公司结果关系表 */ 
             WHERE   ID = #{_parameter}            /*  */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">
    
            UPDATE   /* getUpdate+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     BPS_INQUIRY_APPLY_RELATION                      /* 询价请求与询价公司结果关系表 */ 
               SET   SERIAL_NO                     = #{serialNo}     /*  */ 
                    ,APPLY_CODE                    = #{applyCode}    /*  */ 
             WHERE   ID                            = #{id}           /*  */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     BPS_INQUIRY_APPLY_RELATION                      /* 询价请求与询价公司结果关系表 */ 
               SET   SERIAL_NO                     = #{serialNo}     /*  */ 
                    ,APPLY_CODE                    = #{applyCode}    /*  */ 
             WHERE   ID                            = #{id}           /*  */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">
    
            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     biar.ID                             AS id           /*  */ 
                    ,biar.SERIAL_NO                      AS serialNo     /*  */ 
                    ,biar.APPLY_CODE                     AS applyCode    /*  */ 
              FROM   BPS_INQUIRY_APPLY_RELATION             biar         /* 询价请求与询价公司结果关系表 */ 
             WHERE   biar.ID = #{_parameter}                             /*  */ 
         
    </select>
    
    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     biar.ID                             AS id           /*  */ 
                    ,biar.SERIAL_NO                      AS serialNo     /*  */ 
                    ,biar.APPLY_CODE                     AS applyCode    /*  */ 
              FROM   BPS_INQUIRY_APPLY_RELATION             biar         /* 询价请求与询价公司结果关系表 */ 
             WHERE   biar.ID = #{_parameter}                             /*  */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">
    
            SELECT   /* getList+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     biar.ID                             AS id           /*  */ 
                    ,biar.SERIAL_NO                      AS serialNo     /*  */ 
                    ,biar.APPLY_CODE                     AS applyCode    /*  */ 
              FROM   BPS_INQUIRY_APPLY_RELATION             biar         /* 询价请求与询价公司结果关系表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   biar.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   biar.SERIAL_NO = #{serialNo} /*  */ 
             </if>
        
             <if test='applyCode != null and applyCode != "" and applyCode != "null" and applyCode != "undefined"'>
               AND   biar.APPLY_CODE = #{applyCode} /*  */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     biar.ID                             AS id           /*  */ 
                    ,biar.SERIAL_NO                      AS serialNo     /*  */ 
                    ,biar.APPLY_CODE                     AS applyCode    /*  */ 
              FROM   BPS_INQUIRY_APPLY_RELATION             biar         /* 询价请求与询价公司结果关系表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   biar.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   biar.SERIAL_NO = #{serialNo} /*  */ 
             </if>
        
             <if test='applyCode != null and applyCode != "" and applyCode != "null" and applyCode != "undefined"'>
               AND   biar.APPLY_CODE = #{applyCode} /*  */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     biar.ID                             AS id           /*  */ 
                    ,biar.SERIAL_NO                      AS serialNo     /*  */ 
                    ,biar.APPLY_CODE                     AS applyCode    /*  */ 
              FROM   BPS_INQUIRY_APPLY_RELATION             biar         /* 询价请求与询价公司结果关系表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   biar.ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   biar.SERIAL_NO = #{serialNo} /*  */ 
             </if>
        
             <if test='applyCode != null and applyCode != "" and applyCode != "null" and applyCode != "undefined"'>
               AND   biar.APPLY_CODE = #{applyCode} /*  */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     count(1)
              FROM   BPS_INQUIRY_APPLY_RELATION  /* 询价请求与询价公司结果关系表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /*  */ 
             </if>
        
             <if test='applyCode != null and applyCode != "" and applyCode != "null" and applyCode != "undefined"'>
               AND   APPLY_CODE = #{applyCode} /*  */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.bps.commonMapper.sql.BpsInquiryApplyRelationMapper.xml */ 
                     count(1)
              FROM   BPS_INQUIRY_APPLY_RELATION  /* 询价请求与询价公司结果关系表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /*  */ 
             </if>
        
             <if test='serialNo != null and serialNo != "" and serialNo != "null" and serialNo != "undefined"'>
               AND   SERIAL_NO = #{serialNo} /*  */ 
             </if>
        
             <if test='applyCode != null and applyCode != "" and applyCode != "null" and applyCode != "undefined"'>
               AND   APPLY_CODE = #{applyCode} /*  */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>

    <select id="getCheckRequestOrNot"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">

        SELECT
        count(1)
        FROM   BPS_INQUIRY_APPLY_RELATION  biar
              ,BPS_COMPANY_INQUIRY_APPLY   bcia
        WHERE   1 = 1
        AND    biar.apply_code = bcia.code
        AND    biar.serial_no = #{serialNo}
        AND    bcia.company_code = #{companyCode}

    </select>

    <insert id="saveApplyRelation"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsInquiryApplyRelation">

        INSERT
        INTO   BPS_INQUIRY_APPLY_RELATION
        (
        SERIAL_NO
        ,APPLY_CODE
        )
        VALUES  (
        #{serialNo, jdbcType=VARCHAR}
        ,#{applyCode, jdbcType=VARCHAR}
        )

    </insert>

</mapper>