<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.ppms.dao.common.CallRouteInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.ppms.pojo.common.CallRouteInfo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sys_serno" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trans_serno" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_serno" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trans_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="trans_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_ret_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_ret_msg" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_trans_result" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trans_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark1" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, sys_serno, route_code, trans_serno, route_serno, trans_time, trans_type, 
    route_ret_code, route_ret_msg, route_trans_result, trans_status, status, create_time, 
    update_time, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ppms_call_route_info
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ppms_call_route_info
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vilio.ppms.pojo.common.CallRouteInfo" >
    insert into ppms_call_route_info (id, code, sys_serno, 
      route_code, trans_serno, route_serno, 
      trans_time, trans_type, route_ret_code, 
      route_ret_msg, route_trans_result, trans_status, 
      status, create_time, update_time, 
      remark1)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{sysSerno,jdbcType=VARCHAR}, 
      #{routeCode,jdbcType=VARCHAR}, #{transSerno,jdbcType=VARCHAR}, #{routeSerno,jdbcType=VARCHAR}, 
      #{transTime,jdbcType=TIMESTAMP}, #{transType,jdbcType=VARCHAR}, #{routeRetCode,jdbcType=VARCHAR}, 
      #{routeRetMsg,jdbcType=VARCHAR}, #{routeTransResult,jdbcType=VARCHAR}, #{transStatus,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.ppms.pojo.common.CallRouteInfo" >
    insert into ppms_call_route_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="sysSerno != null" >
        sys_serno,
      </if>
      <if test="routeCode != null" >
        route_code,
      </if>
      <if test="transSerno != null" >
        trans_serno,
      </if>
      <if test="routeSerno != null" >
        route_serno,
      </if>
      <if test="transTime != null" >
        trans_time,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="routeRetCode != null" >
        route_ret_code,
      </if>
      <if test="routeRetMsg != null" >
        route_ret_msg,
      </if>
      <if test="routeTransResult != null" >
        route_trans_result,
      </if>
      <if test="transStatus != null" >
        trans_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="sysSerno != null" >
        #{sysSerno,jdbcType=VARCHAR},
      </if>
      <if test="routeCode != null" >
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="transSerno != null" >
        #{transSerno,jdbcType=VARCHAR},
      </if>
      <if test="routeSerno != null" >
        #{routeSerno,jdbcType=VARCHAR},
      </if>
      <if test="transTime != null" >
        #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="routeRetCode != null" >
        #{routeRetCode,jdbcType=VARCHAR},
      </if>
      <if test="routeRetMsg != null" >
        #{routeRetMsg,jdbcType=VARCHAR},
      </if>
      <if test="routeTransResult != null" >
        #{routeTransResult,jdbcType=VARCHAR},
      </if>
      <if test="transStatus != null" >
        #{transStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.ppms.pojo.common.CallRouteInfo" >
    update ppms_call_route_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sysSerno != null" >
        sys_serno = #{sysSerno,jdbcType=VARCHAR},
      </if>
      <if test="routeCode != null" >
        route_code = #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="transSerno != null" >
        trans_serno = #{transSerno,jdbcType=VARCHAR},
      </if>
      <if test="routeSerno != null" >
        route_serno = #{routeSerno,jdbcType=VARCHAR},
      </if>
      <if test="transTime != null" >
        trans_time = #{transTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="routeRetCode != null" >
        route_ret_code = #{routeRetCode,jdbcType=VARCHAR},
      </if>
      <if test="routeRetMsg != null" >
        route_ret_msg = #{routeRetMsg,jdbcType=VARCHAR},
      </if>
      <if test="routeTransResult != null" >
        route_trans_result = #{routeTransResult,jdbcType=VARCHAR},
      </if>
      <if test="transStatus != null" >
        trans_status = #{transStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.ppms.pojo.common.CallRouteInfo" >
    update ppms_call_route_info
    set code = #{code,jdbcType=VARCHAR},
      sys_serno = #{sysSerno,jdbcType=VARCHAR},
      route_code = #{routeCode,jdbcType=VARCHAR},
      trans_serno = #{transSerno,jdbcType=VARCHAR},
      route_serno = #{routeSerno,jdbcType=VARCHAR},
      trans_time = #{transTime,jdbcType=TIMESTAMP},
      trans_type = #{transType,jdbcType=VARCHAR},
      route_ret_code = #{routeRetCode,jdbcType=VARCHAR},
      route_ret_msg = #{routeRetMsg,jdbcType=VARCHAR},
      route_trans_result = #{routeTransResult,jdbcType=VARCHAR},
      trans_status = #{transStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>