<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.ppms.dao.common.ErrorInfoMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.ppms.pojo.common.ErrorInfo" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="clear_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="route_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="error_msg" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="work_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sys_serno" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trans_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="trans_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="check_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="amount_subject" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="error_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark1" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, clear_date, route_code, error_msg, work_date, sys_serno, trans_type, trans_amount, 
    check_status, amount_subject, error_amount, status, create_time, update_time, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ppms_error_info
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ppms_error_info
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vilio.ppms.pojo.common.ErrorInfo" >
    insert into ppms_error_info (id, code, clear_date, 
      route_code, error_msg, work_date, 
      sys_serno, trans_type, trans_amount, 
      check_status, amount_subject, error_amount, 
      status, create_time, update_time, 
      remark1)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{clearDate,jdbcType=TIMESTAMP}, 
      #{routeCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, #{workDate,jdbcType=TIMESTAMP}, 
      #{sysSerno,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{transAmount,jdbcType=DECIMAL}, 
      #{checkStatus,jdbcType=VARCHAR}, #{amountSubject,jdbcType=VARCHAR}, #{errorAmount,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.ppms.pojo.common.ErrorInfo" >
    insert into ppms_error_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="clearDate != null" >
        clear_date,
      </if>
      <if test="routeCode != null" >
        route_code,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="workDate != null" >
        work_date,
      </if>
      <if test="sysSerno != null" >
        sys_serno,
      </if>
      <if test="transType != null" >
        trans_type,
      </if>
      <if test="transAmount != null" >
        trans_amount,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="amountSubject != null" >
        amount_subject,
      </if>
      <if test="errorAmount != null" >
        error_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null" >
        #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysSerno != null" >
        #{sysSerno,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transAmount != null" >
        #{transAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="amountSubject != null" >
        #{amountSubject,jdbcType=VARCHAR},
      </if>
      <if test="errorAmount != null" >
        #{errorAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.ppms.pojo.common.ErrorInfo" >
    update ppms_error_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null" >
        clear_date = #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        route_code = #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null" >
        work_date = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sysSerno != null" >
        sys_serno = #{sysSerno,jdbcType=VARCHAR},
      </if>
      <if test="transType != null" >
        trans_type = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transAmount != null" >
        trans_amount = #{transAmount,jdbcType=DECIMAL},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="amountSubject != null" >
        amount_subject = #{amountSubject,jdbcType=VARCHAR},
      </if>
      <if test="errorAmount != null" >
        error_amount = #{errorAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.ppms.pojo.common.ErrorInfo" >
    update ppms_error_info
    set code = #{code,jdbcType=VARCHAR},
      clear_date = #{clearDate,jdbcType=TIMESTAMP},
      route_code = #{routeCode,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      work_date = #{workDate,jdbcType=TIMESTAMP},
      sys_serno = #{sysSerno,jdbcType=VARCHAR},
      trans_type = #{transType,jdbcType=VARCHAR},
      trans_amount = #{transAmount,jdbcType=DECIMAL},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      amount_subject = #{amountSubject,jdbcType=VARCHAR},
      error_amount = #{errorAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>