<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.ppms.dao.common.LiquTransStatisMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.ppms.pojo.common.LiquTransStatis" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="clear_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="route_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="merchant_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="succ_count" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="succ_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark1" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, clear_date, route_code, merchant_code, succ_count, succ_amount, status, 
    create_time, update_time, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ppms_liqu_trans_statis
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ppms_liqu_trans_statis
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vilio.ppms.pojo.common.LiquTransStatis" >
    insert into ppms_liqu_trans_statis (id, code, clear_date, 
      route_code, merchant_code, succ_count, 
      succ_amount, status, create_time, 
      update_time, remark1)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{clearDate,jdbcType=TIMESTAMP}, 
      #{routeCode,jdbcType=VARCHAR}, #{merchantCode,jdbcType=VARCHAR}, #{succCount,jdbcType=BIGINT}, 
      #{succAmount,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.ppms.pojo.common.LiquTransStatis" >
    insert into ppms_liqu_trans_statis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="clearDate != null" >
        clear_date,
      </if>
      <if test="routeCode != null" >
        route_code,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="succCount != null" >
        succ_count,
      </if>
      <if test="succAmount != null" >
        succ_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null" >
        #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="succCount != null" >
        #{succCount,jdbcType=BIGINT},
      </if>
      <if test="succAmount != null" >
        #{succAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.ppms.pojo.common.LiquTransStatis" >
    update ppms_liqu_trans_statis
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="clearDate != null" >
        clear_date = #{clearDate,jdbcType=TIMESTAMP},
      </if>
      <if test="routeCode != null" >
        route_code = #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="succCount != null" >
        succ_count = #{succCount,jdbcType=BIGINT},
      </if>
      <if test="succAmount != null" >
        succ_amount = #{succAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.ppms.pojo.common.LiquTransStatis" >
    update ppms_liqu_trans_statis
    set code = #{code,jdbcType=VARCHAR},
      clear_date = #{clearDate,jdbcType=TIMESTAMP},
      route_code = #{routeCode,jdbcType=VARCHAR},
      merchant_code = #{merchantCode,jdbcType=VARCHAR},
      succ_count = #{succCount,jdbcType=BIGINT},
      succ_amount = #{succAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>