<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.ppms.dao.common.LiquRecordMapper" >
  <resultMap id="BaseResultMap" type="com.vilio.ppms.pojo.common.LiquRecord" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="task_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="task_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="liqu_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="begin_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="resp_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resp_msg" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="route_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deal_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark1" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, task_id, task_name, liqu_date, begin_time, end_time, resp_code, resp_msg, 
    route_code, deal_status, status, create_time, update_time, remark1
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ppms_liqu_record
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ppms_liqu_record
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.vilio.ppms.pojo.common.LiquRecord" >
    insert into ppms_liqu_record (id, code, task_id, 
      task_name, liqu_date, begin_time, 
      end_time, resp_code, resp_msg, 
      route_code, deal_status, status, 
      create_time, update_time, remark1
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, 
      #{taskName,jdbcType=VARCHAR}, #{liquDate,jdbcType=TIMESTAMP}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{respCode,jdbcType=VARCHAR}, #{respMsg,jdbcType=VARCHAR}, 
      #{routeCode,jdbcType=VARCHAR}, #{dealStatus,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark1,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.ppms.pojo.common.LiquRecord" >
    insert into ppms_liqu_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="liquDate != null" >
        liqu_date,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="respCode != null" >
        resp_code,
      </if>
      <if test="respMsg != null" >
        resp_msg,
      </if>
      <if test="routeCode != null" >
        route_code,
      </if>
      <if test="dealStatus != null" >
        deal_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="liquDate != null" >
        #{liquDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null" >
        #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="routeCode != null" >
        #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="dealStatus != null" >
        #{dealStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.ppms.pojo.common.LiquRecord" >
    update ppms_liqu_record
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="liquDate != null" >
        liqu_date = #{liquDate,jdbcType=TIMESTAMP},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="respCode != null" >
        resp_code = #{respCode,jdbcType=VARCHAR},
      </if>
      <if test="respMsg != null" >
        resp_msg = #{respMsg,jdbcType=VARCHAR},
      </if>
      <if test="routeCode != null" >
        route_code = #{routeCode,jdbcType=VARCHAR},
      </if>
      <if test="dealStatus != null" >
        deal_status = #{dealStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.ppms.pojo.common.LiquRecord" >
    update ppms_liqu_record
    set code = #{code,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      liqu_date = #{liquDate,jdbcType=TIMESTAMP},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      resp_code = #{respCode,jdbcType=VARCHAR},
      resp_msg = #{respMsg,jdbcType=VARCHAR},
      route_code = #{routeCode,jdbcType=VARCHAR},
      deal_status = #{dealStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark1 = #{remark1,jdbcType=VARCHAR}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>