<!--批量上载页面-->
<div class="row">
  <ol class="breadcrumbNav col-12">
    <li (click)="querySection()"><a>还款到账登记</a><i>></i></li>
    <li class="active">批量上载</li>
  </ol>

</div>

<div class="row">
  <div class="col-12">
    <hr class="breadcrumbNavLine">
  </div>
</div>

<div class="row">
  <div class="condition-search">
    <form>

      <div class="bundle-area">
        <div class="queryName">上载用户：</div>
        <input class="msg-input width-100 queryContent" type="text" id="uploadUser" name="uploadUser" />
      </div>
      <div class="bundle-area">
        <div class="queryName">上载日期：</div>
        <input class="msg-input width-100 datestart date-placeholderStyle"  type="text" id="applyTimeBegin" name="applyTimeBegin" readonly placeholder="年/月/日"/>
        <div class="queryName">至</div>
        <input class="msg-input width-100 queryContent date-placeholderStyle" type="text" id="applyTimeEnd" name="applyTimeEnd" readonly  placeholder="年/月/日"/>
      </div>
      <div class="bundle-area">
        <div class="queryName">状态：</div>
        <select class="width-100 queryContent" id="applyStatusList" name="applyStatus" [(ngModel)]="applyStatusValue">
          <option></option>
        </select>
      </div>

      <button class="search-btn margin-left-20" id="search_btns" (click)="onSearchBtnClick()">搜索</button>
    </form>
  </div>
</div>

<div class="row margin-top-40 margin-bottom-10">
  <div class="col-12">
    <div class="action  float-right margin-left-40"  >
      <div class="main-icon main-icon-up  margin-right-10">
      </div>
      上载文件
      <input type="button" class="gray-button uploadofMaterial upload-input" type="file" ng2FileSelect
             [uploader]="uploader" (change)="selectedFileOnChanged($event)" multiple>
    </div>
    <div class="action float-right" (click)="download()">
      <div class="main-icon main-icon-down margin-right-10">
      </div>
      下载模板
    </div>

  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table width-100per" border="0" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <th class="width-16"></th>
        <th class="width-100">上载用户</th>
        <th class="width-160">上载时间</th>
        <th class="width-120">状态</th>
        <th>文件名</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of currentItemLists">
        <td class="width-16"></td>
        <td class="width-100">{{item.uploadUser}}</td>
        <td class="width-160">{{item.uploadTime }}</td>
        <td class="width-120"> {{item.recordUploadStatusName}}</td>
        <td><a class="text-link" (click)="downloadTemplate(item)">{{item.fileName}}</a> </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="table_footer col-12">
    <div class="table_ll">
      共{{totalListsCount}}条，显示第{{startListIndex}}至{{endListIndex}}条
    </div>
    <div class="table_rr">
      <div class="tablePageCode"></div>
    </div>
  </div>
</div>

<div class="row margin-top-40">
  <div class="col-2">
    <button class="orange-button float-left" (click)="querySection()">返回还款到账登记</button>
  </div>

</div>
