<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：BPS_APPRAISAL_COMPANY
* 表的名称：估价公司表
* 对应实体：com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany
* 开发日期：2017-06-12
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.bps.commonMapper.dao.IBpsAppraisalCompanyMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsert+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
              INTO   BPS_APPRAISAL_COMPANY         /* 估价公司表 */ 
                    (
                     CODE                          /*  */ 
                    ,DATE_CREATED                  /* 数据创建时间 */ 
                    ,DATE_MODIFIED                 /* 数据修改时间 */ 
                    ,ABBR_NAME                     /* 估价公司简称 */ 
                    ,FULL_NAME                     /* 估价公司全称 */ 
                    ,COOPERATION_TYPE              /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,VILLA_TURN_ARTIFICIAL         /* 别墅是否转人工(1转人工) */ 
                    ,MAX_AREA                      /* 最大面积转人工 */ 
                    ,API_URL                       /* 接口API地址 */ 
                    ,STATUS                        /* 状态(0不可用，1可用) */ 
                    )
            VALUES  (
                     #{code}                       /*  */ 
                    ,#{dateCreated}                /* 数据创建时间 */ 
                    ,#{dateModified}               /* 数据修改时间 */ 
                    ,#{abbrName}                   /* 估价公司简称 */ 
                    ,#{fullName}                   /* 估价公司全称 */ 
                    ,#{cooperationType}            /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,#{villaTurnArtificial}        /* 别墅是否转人工(1转人工) */ 
                    ,#{maxArea}                    /* 最大面积转人工 */ 
                    ,#{apiUrl}                     /* 接口API地址 */ 
                    ,#{status}                     /* 状态(0不可用，1可用) */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsertPrmMap+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
              INTO   BPS_APPRAISAL_COMPANY         /* 估价公司表 */ 
                    (
                     CODE                          /*  */ 
                    ,DATE_CREATED                  /* 数据创建时间 */ 
                    ,DATE_MODIFIED                 /* 数据修改时间 */ 
                    ,ABBR_NAME                     /* 估价公司简称 */ 
                    ,FULL_NAME                     /* 估价公司全称 */ 
                    ,COOPERATION_TYPE              /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,VILLA_TURN_ARTIFICIAL         /* 别墅是否转人工(1转人工) */ 
                    ,MAX_AREA                      /* 最大面积转人工 */ 
                    ,API_URL                       /* 接口API地址 */ 
                    ,STATUS                        /* 状态(0不可用，1可用) */ 
                    )
            VALUES  (
                     #{code}                       /*  */ 
                    ,#{dateCreated}                /* 数据创建时间 */ 
                    ,#{dateModified}               /* 数据修改时间 */ 
                    ,#{abbrName}                   /* 估价公司简称 */ 
                    ,#{fullName}                   /* 估价公司全称 */ 
                    ,#{cooperationType}            /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,#{villaTurnArtificial}        /* 别墅是否转人工(1转人工) */ 
                    ,#{maxArea}                    /* 最大面积转人工 */ 
                    ,#{apiUrl}                     /* 接口API地址 */ 
                    ,#{status}                     /* 状态(0不可用，1可用) */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
              FROM   BPS_APPRAISAL_COMPANY    /* 估价公司表 */ 
             WHERE   ID = #{_parameter}       /* 数据主键 */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">
    
            UPDATE   /* getUpdate+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     BPS_APPRAISAL_COMPANY                                /* 估价公司表 */ 
               SET   CODE                     = #{code}                   /*  */ 
                    ,DATE_CREATED             = #{dateCreated}            /* 数据创建时间 */ 
                    ,DATE_MODIFIED            = #{dateModified}           /* 数据修改时间 */ 
                    ,ABBR_NAME                = #{abbrName}               /* 估价公司简称 */ 
                    ,FULL_NAME                = #{fullName}               /* 估价公司全称 */ 
                    ,COOPERATION_TYPE         = #{cooperationType}        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,VILLA_TURN_ARTIFICIAL    = #{villaTurnArtificial}    /* 别墅是否转人工(1转人工) */ 
                    ,MAX_AREA                 = #{maxArea}                /* 最大面积转人工 */ 
                    ,API_URL                  = #{apiUrl}                 /* 接口API地址 */ 
                    ,STATUS                   = #{status}                 /* 状态(0不可用，1可用) */ 
             WHERE   ID                       = #{id}                     /* 数据主键 */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     BPS_APPRAISAL_COMPANY                                /* 估价公司表 */ 
               SET   CODE                     = #{code}                   /*  */ 
                    ,DATE_CREATED             = #{dateCreated}            /* 数据创建时间 */ 
                    ,DATE_MODIFIED            = #{dateModified}           /* 数据修改时间 */ 
                    ,ABBR_NAME                = #{abbrName}               /* 估价公司简称 */ 
                    ,FULL_NAME                = #{fullName}               /* 估价公司全称 */ 
                    ,COOPERATION_TYPE         = #{cooperationType}        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,VILLA_TURN_ARTIFICIAL    = #{villaTurnArtificial}    /* 别墅是否转人工(1转人工) */ 
                    ,MAX_AREA                 = #{maxArea}                /* 最大面积转人工 */ 
                    ,API_URL                  = #{apiUrl}                 /* 接口API地址 */ 
                    ,STATUS                   = #{status}                 /* 状态(0不可用，1可用) */ 
             WHERE   ID                       = #{id}                     /* 数据主键 */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">
    
            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     bac.ID                        AS id                     /* 数据主键 */ 
                    ,bac.CODE                      AS code                   /*  */ 
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */ 
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */ 
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */ 
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */ 
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */ 
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */ 
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */ 
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */ 
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */ 
             WHERE   bac.ID = #{_parameter}                                  /* 数据主键 */ 
         
    </select>
    
    <select id="getBeanByCode"
            parameterType="java.lang.String"
            resultType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">

            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */
                     bac.ID                        AS id                     /* 数据主键 */
                    ,bac.CODE                      AS code                   /*  */
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */
             WHERE   bac.CODE = #{_parameter}                                  /* 数据主键 */

    </select>

    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     bac.ID                        AS id                     /* 数据主键 */ 
                    ,bac.CODE                      AS code                   /*  */ 
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */ 
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */ 
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */ 
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */ 
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */ 
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */ 
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */ 
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */ 
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */ 
             WHERE   bac.ID = #{_parameter}                                  /* 数据主键 */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany"
            resultType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">
    
            SELECT   /* getList+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     bac.ID                        AS id                     /* 数据主键 */ 
                    ,bac.CODE                      AS code                   /*  */ 
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */ 
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */ 
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */ 
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */ 
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */ 
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */ 
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */ 
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */ 
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bac.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bac.CODE = #{code} /*  */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bac.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bac.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bac.ABBR_NAME = #{abbrName} /* 估价公司简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bac.FULL_NAME = #{fullName} /* 估价公司全称 */ 
             </if>
        
             <if test='cooperationType != null and cooperationType != "" and cooperationType != "null" and cooperationType != "undefined"'>
               AND   bac.COOPERATION_TYPE = #{cooperationType} /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
             </if>
        
             <if test='villaTurnArtificial != null'>
               AND   bac.VILLA_TURN_ARTIFICIAL = #{villaTurnArtificial} /* 别墅是否转人工(1转人工) */ 
             </if>
        
             <if test='maxArea != null'>
               AND   bac.MAX_AREA = #{maxArea} /* 最大面积转人工 */ 
             </if>
        
             <if test='apiUrl != null and apiUrl != "" and apiUrl != "null" and apiUrl != "undefined"'>
               AND   bac.API_URL = #{apiUrl} /* 接口API地址 */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bac.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     bac.ID                        AS id                     /* 数据主键 */ 
                    ,bac.CODE                      AS code                   /*  */ 
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */ 
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */ 
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */ 
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */ 
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */ 
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */ 
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */ 
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */ 
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bac.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bac.CODE = #{code} /*  */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bac.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bac.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bac.ABBR_NAME = #{abbrName} /* 估价公司简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bac.FULL_NAME = #{fullName} /* 估价公司全称 */ 
             </if>
        
             <if test='cooperationType != null and cooperationType != "" and cooperationType != "null" and cooperationType != "undefined"'>
               AND   bac.COOPERATION_TYPE = #{cooperationType} /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
             </if>
        
             <if test='villaTurnArtificial != null'>
               AND   bac.VILLA_TURN_ARTIFICIAL = #{villaTurnArtificial} /* 别墅是否转人工(1转人工) */ 
             </if>
        
             <if test='maxArea != null'>
               AND   bac.MAX_AREA = #{maxArea} /* 最大面积转人工 */ 
             </if>
        
             <if test='apiUrl != null and apiUrl != "" and apiUrl != "null" and apiUrl != "undefined"'>
               AND   bac.API_URL = #{apiUrl} /* 接口API地址 */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bac.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     bac.ID                        AS id                     /* 数据主键 */ 
                    ,bac.CODE                      AS code                   /*  */ 
                    ,bac.DATE_CREATED              AS dateCreated            /* 数据创建时间 */ 
                    ,bac.DATE_MODIFIED             AS dateModified           /* 数据修改时间 */ 
                    ,bac.ABBR_NAME                 AS abbrName               /* 估价公司简称 */ 
                    ,bac.FULL_NAME                 AS fullName               /* 估价公司全称 */ 
                    ,bac.COOPERATION_TYPE          AS cooperationType        /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
                    ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial    /* 别墅是否转人工(1转人工) */ 
                    ,bac.MAX_AREA                  AS maxArea                /* 最大面积转人工 */ 
                    ,bac.API_URL                   AS apiUrl                 /* 接口API地址 */ 
                    ,bac.STATUS                    AS status                 /* 状态(0不可用，1可用) */ 
              FROM   BPS_APPRAISAL_COMPANY            bac                    /* 估价公司表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bac.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bac.CODE = #{code} /*  */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bac.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bac.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bac.ABBR_NAME = #{abbrName} /* 估价公司简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bac.FULL_NAME = #{fullName} /* 估价公司全称 */ 
             </if>
        
             <if test='cooperationType != null and cooperationType != "" and cooperationType != "null" and cooperationType != "undefined"'>
               AND   bac.COOPERATION_TYPE = #{cooperationType} /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
             </if>
        
             <if test='villaTurnArtificial != null'>
               AND   bac.VILLA_TURN_ARTIFICIAL = #{villaTurnArtificial} /* 别墅是否转人工(1转人工) */ 
             </if>
        
             <if test='maxArea != null'>
               AND   bac.MAX_AREA = #{maxArea} /* 最大面积转人工 */ 
             </if>
        
             <if test='apiUrl != null and apiUrl != "" and apiUrl != "null" and apiUrl != "undefined"'>
               AND   bac.API_URL = #{apiUrl} /* 接口API地址 */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bac.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     count(1)
              FROM   BPS_APPRAISAL_COMPANY  /* 估价公司表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /*  */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 估价公司简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 估价公司全称 */ 
             </if>
        
             <if test='cooperationType != null and cooperationType != "" and cooperationType != "null" and cooperationType != "undefined"'>
               AND   COOPERATION_TYPE = #{cooperationType} /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
             </if>
        
             <if test='villaTurnArtificial != null'>
               AND   VILLA_TURN_ARTIFICIAL = #{villaTurnArtificial} /* 别墅是否转人工(1转人工) */ 
             </if>
        
             <if test='maxArea != null'>
               AND   MAX_AREA = #{maxArea} /* 最大面积转人工 */ 
             </if>
        
             <if test='apiUrl != null and apiUrl != "" and apiUrl != "null" and apiUrl != "undefined"'>
               AND   API_URL = #{apiUrl} /* 接口API地址 */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.bps.commonMapper.sql.BpsAppraisalCompanyMapper.xml */ 
                     count(1)
              FROM   BPS_APPRAISAL_COMPANY  /* 估价公司表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /*  */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 估价公司简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 估价公司全称 */ 
             </if>
        
             <if test='cooperationType != null and cooperationType != "" and cooperationType != "null" and cooperationType != "undefined"'>
               AND   COOPERATION_TYPE = #{cooperationType} /* 估价公司合作类型（0人工；1极速，2极速+人工） */ 
             </if>
        
             <if test='villaTurnArtificial != null'>
               AND   VILLA_TURN_ARTIFICIAL = #{villaTurnArtificial} /* 别墅是否转人工(1转人工) */ 
             </if>
        
             <if test='maxArea != null'>
               AND   MAX_AREA = #{maxArea} /* 最大面积转人工 */ 
             </if>
        
             <if test='apiUrl != null and apiUrl != "" and apiUrl != "null" and apiUrl != "undefined"'>
               AND   API_URL = #{apiUrl} /* 接口API地址 */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>

    <select id="getCompanyByCode"
            parameterType="java.lang.String" resultType="com.vilio.bps.commonMapper.pojo.BpsAppraisalCompany">

        SELECT
        bac.CODE                      AS code
        ,bac.DATE_CREATED              AS dateCreated
        ,bac.DATE_MODIFIED             AS dateModified
        ,bac.ABBR_NAME                 AS abbrName
        ,bac.FULL_NAME                 AS fullName
        ,bac.COOPERATION_TYPE          AS cooperationType
        ,bac.VILLA_TURN_ARTIFICIAL     AS villaTurnArtificial
        ,bac.MAX_AREA                  AS maxArea
        ,bac.API_URL                   AS apiUrl
        ,bac.STATUS                    AS status
        FROM   BPS_APPRAISAL_COMPANY            bac
        WHERE   bac.CODE= #{code,jdbcType=VARCHAR}

    </select>

</mapper>