<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
******************************************************************************
* 数据库表：BPS_CITY
* 表的名称：城市表
* 对应实体：com.vilio.bps.commonMapper.pojo.BpsCity
* 开发日期：2017-06-12
* 技术服务：www.fwjava.com
******************************************************************************
-->
<mapper namespace="com.vilio.bps.commonMapper.dao.IBpsCityMapper">

    <!--
    **************************************************************************
    * 1.新增一条数据
    * 注: 根据Bean实体执行新增操作.
    **************************************************************************
    -->
    <insert id="getInsert"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsCity"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsert+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
              INTO   BPS_CITY              /* 城市表 */ 
                    (
                     CODE                  /* 国标代码 */ 
                    ,ABBR_NAME             /* 城市简称 */ 
                    ,FULL_NAME             /* 城市全称 */ 
                    ,WU_CODE               /* 世联id */ 
                    ,STATUS                /* 状态(0不可用，1可用) */ 
                    ,DATE_CREATED          /* 数据创建时间 */ 
                    ,DATE_MODIFIED         /* 数据修改时间 */ 
                    )
            VALUES  (
                     #{code}               /* 国标代码 */ 
                    ,#{abbrName}           /* 城市简称 */ 
                    ,#{fullName}           /* 城市全称 */ 
                    ,#{wuCode}             /* 世联id */ 
                    ,#{status}             /* 状态(0不可用，1可用) */ 
                    ,#{dateCreated}        /* 数据创建时间 */ 
                    ,#{dateModified}       /* 数据修改时间 */ 
                    )
         
    </insert>
    
    <insert id="getInsertPrmMap"
            parameterType="java.util.HashMap"
            useGeneratedKeys="true"
            keyProperty="id">
    
            INSERT   /* getInsertPrmMap+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
              INTO   BPS_CITY              /* 城市表 */ 
                    (
                     CODE                  /* 国标代码 */ 
                    ,ABBR_NAME             /* 城市简称 */ 
                    ,FULL_NAME             /* 城市全称 */ 
                    ,WU_CODE               /* 世联id */ 
                    ,STATUS                /* 状态(0不可用，1可用) */ 
                    ,DATE_CREATED          /* 数据创建时间 */ 
                    ,DATE_MODIFIED         /* 数据修改时间 */ 
                    )
            VALUES  (
                     #{code}               /* 国标代码 */ 
                    ,#{abbrName}           /* 城市简称 */ 
                    ,#{fullName}           /* 城市全称 */ 
                    ,#{wuCode}             /* 世联id */ 
                    ,#{status}             /* 状态(0不可用，1可用) */ 
                    ,#{dateCreated}        /* 数据创建时间 */ 
                    ,#{dateModified}       /* 数据修改时间 */ 
                    )
         
    </insert>


    <!--
    **************************************************************************
    * 2.删除一条数据
    * 注: 根据Bean实体的主键ID执行删除操作.
    **************************************************************************
    -->
    <delete id="getDelete"
            parameterType="java.lang.Integer">
    
            DELETE   /* getDelete+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
              FROM   BPS_CITY              /* 城市表 */ 
             WHERE   ID = #{_parameter}    /* 数据主键 */ 
         
    </delete>


    <!--
    **************************************************************************
    * 3.变更一条数据
    * 注: 根据Bean实体的主键ID执行变更操作.
    **************************************************************************
    -->
    <update id="getUpdate"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsCity">
    
            UPDATE   /* getUpdate+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     BPS_CITY                              /* 城市表 */ 
               SET   CODE             = #{code}            /* 国标代码 */ 
                    ,ABBR_NAME        = #{abbrName}        /* 城市简称 */ 
                    ,FULL_NAME        = #{fullName}        /* 城市全称 */ 
                    ,WU_CODE          = #{wuCode}          /* 世联id */ 
                    ,STATUS           = #{status}          /* 状态(0不可用，1可用) */ 
                    ,DATE_CREATED     = #{dateCreated}     /* 数据创建时间 */ 
                    ,DATE_MODIFIED    = #{dateModified}    /* 数据修改时间 */ 
             WHERE   ID               = #{id}              /* 数据主键 */ 
         
    </update>
    
    <update id="getUpdatePrmMap"
            parameterType="java.util.HashMap">
    
            UPDATE   /* getUpdatePrmMap+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     BPS_CITY                              /* 城市表 */ 
               SET   CODE             = #{code}            /* 国标代码 */ 
                    ,ABBR_NAME        = #{abbrName}        /* 城市简称 */ 
                    ,FULL_NAME        = #{fullName}        /* 城市全称 */ 
                    ,WU_CODE          = #{wuCode}          /* 世联id */ 
                    ,STATUS           = #{status}          /* 状态(0不可用，1可用) */ 
                    ,DATE_CREATED     = #{dateCreated}     /* 数据创建时间 */ 
                    ,DATE_MODIFIED    = #{dateModified}    /* 数据修改时间 */ 
             WHERE   ID               = #{id}              /* 数据主键 */ 
         
    </update>


    <!--
    **************************************************************************
    * 4.获取一个Bean实体
    * 注: 根据Bean实体的主键ID获取一个Bean实体.
    **************************************************************************
    -->
    <select id="getBean"
            parameterType="java.lang.Integer"
            resultType="com.vilio.bps.commonMapper.pojo.BpsCity">
    
            SELECT   /* getBean+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     bc.ID                AS id              /* 数据主键 */ 
                    ,bc.CODE              AS code            /* 国标代码 */ 
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */ 
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */ 
                    ,bc.WU_CODE           AS wuCode          /* 世联id */ 
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */ 
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */ 
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */ 
              FROM   BPS_CITY                bc              /* 城市表 */ 
             WHERE   bc.ID = #{_parameter}                   /* 数据主键 */ 
         
    </select>

    <select id="getBeanByCode"
            parameterType="java.lang.String"
            resultType="com.vilio.bps.commonMapper.pojo.BpsCity">

            SELECT   /* getBean+@com.vilio.bps.commonMapper.BpsCityMapper.xml */
                     bc.ID                AS id              /* 数据主键 */
                    ,bc.CODE              AS code            /* 国标代码 */
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */
                    ,bc.WU_CODE           AS wuCode          /* 世联id */
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */
              FROM   BPS_CITY                bc              /* 城市表 */
             WHERE   bc.CODE = #{code}                   /* 国标代码 */

    </select>

    <select id="getBeanRtnMap"
            parameterType="java.lang.Integer"
            resultType="java.util.HashMap">
    
            SELECT   /* getBeanRtnMap+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     bc.ID                AS id              /* 数据主键 */ 
                    ,bc.CODE              AS code            /* 国标代码 */ 
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */ 
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */ 
                    ,bc.WU_CODE           AS wuCode          /* 世联id */ 
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */ 
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */ 
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */ 
              FROM   BPS_CITY                bc              /* 城市表 */ 
             WHERE   bc.ID = #{_parameter}                   /* 数据主键 */ 
         
    </select>


    <!--
    **************************************************************************
    * 5.条件查询
    * 注: 支持多条件查询、模糊查询、日期比较查询等操作.
    **************************************************************************
    -->
    <select id="getList"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsCity"
            resultType="com.vilio.bps.commonMapper.pojo.BpsCity">
    
            SELECT   /* getList+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     bc.ID                AS id              /* 数据主键 */ 
                    ,bc.CODE              AS code            /* 国标代码 */ 
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */ 
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */ 
                    ,bc.WU_CODE           AS wuCode          /* 世联id */ 
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */ 
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */ 
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */ 
              FROM   BPS_CITY                bc              /* 城市表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bc.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bc.CODE = #{code} /* 国标代码 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bc.ABBR_NAME = #{abbrName} /* 城市简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bc.FULL_NAME = #{fullName} /* 城市全称 */ 
             </if>
        
             <if test='wuCode != null and wuCode != "" and wuCode != "null" and wuCode != "undefined"'>
               AND   bc.WU_CODE = #{wuCode} /* 世联id */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bc.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bc.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bc.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnBean"
            parameterType="java.util.HashMap"
            resultType="com.vilio.bps.commonMapper.pojo.BpsCity">
    
            SELECT   /* getListPrmMapRtnBean+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     bc.ID                AS id              /* 数据主键 */ 
                    ,bc.CODE              AS code            /* 国标代码 */ 
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */ 
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */ 
                    ,bc.WU_CODE           AS wuCode          /* 世联id */ 
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */ 
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */ 
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */ 
              FROM   BPS_CITY                bc              /* 城市表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bc.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bc.CODE = #{code} /* 国标代码 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bc.ABBR_NAME = #{abbrName} /* 城市简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bc.FULL_NAME = #{fullName} /* 城市全称 */ 
             </if>
        
             <if test='wuCode != null and wuCode != "" and wuCode != "null" and wuCode != "undefined"'>
               AND   bc.WU_CODE = #{wuCode} /* 世联id */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bc.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bc.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bc.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>
    
    <select id="getListPrmMapRtnMap"
            parameterType="java.util.HashMap"
            resultType="java.util.HashMap">
    
            SELECT   /* getListPrmMapRtnMap+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     bc.ID                AS id              /* 数据主键 */ 
                    ,bc.CODE              AS code            /* 国标代码 */ 
                    ,bc.ABBR_NAME         AS abbrName        /* 城市简称 */ 
                    ,bc.FULL_NAME         AS fullName        /* 城市全称 */ 
                    ,bc.WU_CODE           AS wuCode          /* 世联id */ 
                    ,bc.STATUS            AS status          /* 状态(0不可用，1可用) */ 
                    ,bc.DATE_CREATED      AS dateCreated     /* 数据创建时间 */ 
                    ,bc.DATE_MODIFIED     AS dateModified    /* 数据修改时间 */ 
              FROM   BPS_CITY                bc              /* 城市表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   bc.ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   bc.CODE = #{code} /* 国标代码 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   bc.ABBR_NAME = #{abbrName} /* 城市简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   bc.FULL_NAME = #{fullName} /* 城市全称 */ 
             </if>
        
             <if test='wuCode != null and wuCode != "" and wuCode != "null" and wuCode != "undefined"'>
               AND   bc.WU_CODE = #{wuCode} /* 世联id */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   bc.STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(bc.DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(bc.DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
             <if test='orderBy != null and orderBy != ""'>
               ORDER BY   ${orderBy}  /* 排序 */ 
             </if>
         
    </select>


    <!--
    **************************************************************************
    * 6.验证多条件数据是否存在
    * 注: 根据多条件验证该数据是否存在 ,并返回数据量.
    **************************************************************************
    -->
    <select id="getCheckBy"
            parameterType="com.vilio.bps.commonMapper.pojo.BpsCity"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckBy+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     count(1)
              FROM   BPS_CITY   /* 城市表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /* 国标代码 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 城市简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 城市全称 */ 
             </if>
        
             <if test='wuCode != null and wuCode != "" and wuCode != "null" and wuCode != "undefined"'>
               AND   WU_CODE = #{wuCode} /* 世联id */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>
    
    <select id="getCheckByPrmMap"
            parameterType="java.util.HashMap"
            resultType="java.lang.Integer">
    
            SELECT   /* getCheckByPrmMap+@com.vilio.bps.commonMapper.sql.BpsCityMapper.xml */ 
                     count(1)
              FROM   BPS_CITY   /* 城市表 */ 
             WHERE   1 = 1
        
             <if test='id != null'>
               AND   ID = #{id} /* 数据主键 */ 
             </if>
        
             <if test='code != null and code != "" and code != "null" and code != "undefined"'>
               AND   CODE = #{code} /* 国标代码 */ 
             </if>
        
             <if test='abbrName != null and abbrName != "" and abbrName != "null" and abbrName != "undefined"'>
               AND   ABBR_NAME = #{abbrName} /* 城市简称 */ 
             </if>
        
             <if test='fullName != null and fullName != "" and fullName != "null" and fullName != "undefined"'>
               AND   FULL_NAME = #{fullName} /* 城市全称 */ 
             </if>
        
             <if test='wuCode != null and wuCode != "" and wuCode != "null" and wuCode != "undefined"'>
               AND   WU_CODE = #{wuCode} /* 世联id */ 
             </if>
        
             <if test='status != null and status != "" and status != "null" and status != "undefined"'>
               AND   STATUS = #{status} /* 状态(0不可用，1可用) */ 
             </if>
        
             <if test='dateCreated != null'>
               AND   date_format(DATE_CREATED ,'%Y-%m-%d') = #{dateCreatedChar} /* 数据创建时间 */ 
             </if>
        
             <if test='dateModified != null'>
               AND   date_format(DATE_MODIFIED ,'%Y-%m-%d') = #{dateModifiedChar} /* 数据修改时间 */ 
             </if>
         
         
         
             <!-- 常用自定义字段 -->
             <!-- /常用自定义字段 -->
         
    </select>

    <select id="queryAllCity" resultType="com.vilio.bps.commonMapper.pojo.BpsCity">
        select
        t.code
        ,t.abbr_name as abbrName
        ,t.full_name AS fullName
        ,t.status
        from bps_city t
        where t.status='1'
    </select>


</mapper>