<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vilio.bps.commonMapper.dao.BpsInquiryStatusMapper">
    
    <select id="queryAllInquiryStatus" parameterType="java.lang.String" resultType="com.vilio.bps.commonMapper.pojo.BpsInquiryStatus">
            SELECT
                t.code,
                t.value,
                t.name,
                t.status
            FROM
                bps_inquiry_status t
            WHERE
                t.status = #{status,jdbcType=VARCHAR}
    </select>


</mapper>