<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.plms.dao.LoginInfoDao" >
  <resultMap id="BaseResultMap" type="com.vilio.plms.pojo.LoginInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="system_timestamp" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="client_timestamp" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, user_no, system_timestamp, client_timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plms_login_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plms_login_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vilio.plms.pojo.LoginInfo" >
    insert into plms_login_info (id, code, user_no,
      system_timestamp, client_timestamp)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{userNo,jdbcType=VARCHAR}, 
      #{systemTimestamp,jdbcType=VARCHAR}, #{clientTimestamp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.vilio.plms.pojo.LoginInfo" >
    insert into plms_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="userNo != null" >
        user_no,
      </if>
      <if test="systemTimestamp != null" >
        system_timestamp,
      </if>
      <if test="clientTimestamp != null" >
        client_timestamp,
      </if>

      <if test='mobile != null and mobile != "" '>
        mobile ,
      </if>
      <if test='email != null and email != "" '>
        email,
      </if>
      <if test='userName != null and userName != "" '>
        user_name ,
      </if>
      <if test='fullName != null and fullName != "" '>
        full_name ,
      </if>
      <if test='cityCode != null and cityCode != "" '>
        city_code ,
      </if>
      <if test='cityName != null and cityName != "" '>
        city_name ,
      </if>
      <if test='groupId != null and groupId != "" '>
        group_id ,
      </if>
      <if test='groupName != null and groupName != "" '>
        group_name ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="systemTimestamp != null" >
        #{systemTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="clientTimestamp != null" >
        #{clientTimestamp,jdbcType=VARCHAR},
      </if>

      <if test='mobile != null and mobile != "" '>
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test='email != null and email != "" '>
        #{email,jdbcType=VARCHAR},
      </if>
      <if test='userName != null and userName != "" '>
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test='fullName != null and fullName != "" '>
         #{fullName,jdbcType=VARCHAR},
      </if>
      <if test='cityCode != null and cityCode != "" '>
         #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test='cityName != null and cityName != "" '>
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test='groupId != null and groupId != "" '>
         #{groupId,jdbcType=VARCHAR},
      </if>
      <if test='groupName != null and groupName != "" '>
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vilio.plms.pojo.LoginInfo" >
    update plms_login_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="userNo != null" >
        user_no = #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="systemTimestamp != null" >
        system_timestamp = #{systemTimestamp,jdbcType=VARCHAR},
      </if>
      <if test="clientTimestamp != null" >
        client_timestamp = #{clientTimestamp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vilio.plms.pojo.LoginInfo" >
    update plms_login_info
    set code = #{code,jdbcType=VARCHAR},
      user_no = #{userNo,jdbcType=VARCHAR},
      system_timestamp = #{systemTimestamp,jdbcType=VARCHAR},
      client_timestamp = #{clientTimestamp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectLoginInfoByUserNo" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select bli.user_no as userNo,
    bli.system_timestamp as systemTimestamp,
    bli.client_timestamp as clientTimestamp
    from plms_login_info bli
    where bli.user_no = #{userNo,jdbcType=VARCHAR}
  </select>

  <delete id="deleteLoginInfoByUserNo" parameterType="java.lang.String">
    delete from plms_login_info where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>

  <update id="updateLoginInfoByUserNo" parameterType="java.util.HashMap" >
    update plms_login_info
    <set >
      <if test='systemTimestamp != null and systemTimestamp != "" '>
        system_timestamp = #{systemTimestamp,jdbcType=VARCHAR},
      </if>
      <if test='clientTimestamp != null and clientTimestamp != "" '>
        client_timestamp = #{clientTimestamp,jdbcType=VARCHAR},
      </if>
      <if test='groupId != null and groupId != "" '>
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test='groupName != null and groupName != "" '>
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test='mobile != null and mobile != "" '>
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test='email != null and email != "" '>
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test='userName != null and userName != "" '>
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test='fullName != null and fullName != "" '>
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test='cityCode != null and cityCode != "" '>
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test='cityName != null and cityName != "" '>
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_no = #{userNo,jdbcType=VARCHAR}
  </update>

  <select id="queryNlbsUserByUserNo" resultType="com.vilio.plms.pojo.LoginInfo" parameterType="java.lang.String" >
    SELECT
      bli.user_no AS userNo,
      bli.system_timestamp AS systemTimestamp,
      bli.client_timestamp AS clientTimestamp,
      bli.user_name as userName,
      bli.full_name as fullName,
      bli.city_code as cityCode,
      bli.city_name as cityName,
      bli.group_id as groupId,
      bli.group_name as groupName,
      bli.email,
      bli.mobile
    FROM
        plms_login_info bli
    where bli.user_no = #{userNo,jdbcType=VARCHAR}
  </select>

  <select id="queryUserInfoByUmId" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
		id             as "id",
		code           as "code",
		parent_code    as "parentCode",
		um_id          as "umId",
		name           as "name",
		mobile_no      as "mobileNo",
		status         as "status",
		create_date    as "createDate",
		modify_date    as "modifyDate"
    from plms_backend_user
    where um_id = #{umId,jdbcType=VARCHAR}
  </select>

  <select id="queryUserInfoByCode" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
		id             as "id",
		code           as "code",
		parent_code    as "parentCode",
		um_id          as "umId",
		name           as "name",
		mobile_no      as "mobileNo",
		status         as "status",
		create_date    as "createDate",
		modify_date    as "modifyDate"
    from plms_backend_user
    where code = #{code,jdbcType=VARCHAR}
  </select>

  <select id="queryUserInfoByParentUserCode" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
		id             as "id",
		code           as "code",
		parent_code    as "parentCode",
		um_id          as "umId",
		name           as "name",
		mobile_no      as "mobileNo",
		status         as "status",
		create_date    as "createDate",
		modify_date    as "modifyDate"
    from plms_backend_user
    where parent_code = #{parentCode,jdbcType=VARCHAR}
      and status != '0'
  </select>

  <select id="queryAgentInfoByAgentId" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
    id             as "id",
    code           as "code",
    bms_code       as "bmsCode",
    parent_user  as parentCode,
    name           as "name",
    mobile_no      as "mobileNo",
    status         as "status",
    create_date    as "createDate",
    modify_date    as "modifyDate"
    from plms_agent
    where bms_code = #{agentId,jdbcType=VARCHAR}
    and status != '0'
  </select>
  <select id="queryAgentInfoByParentAgentId" resultType="java.util.HashMap" parameterType="java.lang.String" >
    select
    id             as "id",
    code           as "code",
    bms_code       as "bmsCode",
    parent_user  as parentCode,
    name           as "name",
    mobile_no      as "mobileNo",
    status         as "status",
    create_date    as "createDate",
    modify_date    as "modifyDate"
    from plms_agent
    where parent_user = #{parentCode,jdbcType=VARCHAR}
    and status != '0'
  </select>

  <select id="queryUmIdsWithUserList" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    select
    pbu.id             as "id",
    pbu.code           as "code",
    pbu.um_id          as "umId",
    pbu.name           as "name",
    pbu.mobile_no      as "mobileNo"
    from plms_backend_user pbu
    where 1 = 1
       and status != '0'

    <if test='userList != null'>
      AND pbu.code IN
      <foreach item="item" index="index" collection="userList" open="(" separator="," close=")" >
        #{item.userId}
      </foreach >
    </if>
  </select>

</mapper>