<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilio.plms.dao.UserDistributorDao" >

  <select id="selectUserDistributorByUserId" resultType="com.vilio.plms.pojo.UserDistributor" parameterType="java.lang.String" >
    SELECT
      t.distributor_code as distributorCode
      ,t.user_id as userId
      ,t.status
    FROM
        plms_user_distributor t
    WHERE
        t.user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectUserDistributorByDistributorCode" resultType="java.util.Map" parameterType="java.lang.String" >
    SELECT
      t.distributor_code as distributorCode
      ,t.user_id as userId
      ,t.status
    FROM
        plms_user_distributor t
    WHERE
        t.distributor_code = #{distributorCode,jdbcType=VARCHAR}
  </select>


</mapper>